@import './utils/variables';
@import './utils/mixin';
@import './utils/visually-hidden';

@import './base/common';
@import './base/section';
@import './base/container';

@import './components/main-button';
@import './components/loader-anim';
@import './components/social-icons';


@import './layout/header';
@import './layout/hero';
@import './layout/top-collection';
@import './layout/collections';
@import './layout/sign-up';
@import './layout/nfts';



@import './layout/footer';




