@import './utils/variables';
@import './utils/mixin';
@import './utils/visually-hidden';

@import './base/common';
@import './base/section';
@import './base/container';
@import './base/section-slider';
@import './components/main-button';
@import './components/loader-anim';


@import './layout/header';
@import './layout/hero';
@import './layout/top-collection';
@import './layout/collections';



@import './layout/footer';




