@charset "UTF-8";
:root {
  --body-bg: #FFFFFF;
  --primary-bg: #F3F3F3;
  --title-font-family: "Golos Text";
  --text-font-family: "Manrope";
  --text-color-dark: #000000;
  --text-color-light: #FFFFFF;
  --primary-color-dark: #000000;
  --primary-color-light: #FFFFFF;
  --transition-property: all 250ms ease-in-out;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
  font-family: var(--text-font-family);
  color: var(--text-color-dark);
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.section {
  margin: 75px auto 0 auto;
  padding: 0;
  min-width: 320px;
  max-width: 1440px;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1200px;
}

.section-slider {
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  /* Ширина слайдера на весь экран */
  /* Задайте желаемую высоту слайдера, например, 70% высоты экрана (viewport height) */
}

.swiper-pagination {
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  background: #000 !important;
}

.swiper-pagination-bullet-active {
  width: 20px !important;
  height: 20px !important;
  color: #fff;
  background: #3D00B7 !important;
}

.main-btn {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: 1px solid #3D00B7;
  text-align: center;
  cursor: pointer;
  transition: 700ms;
  position: relative;
  overflow: hidden;
}
.main-btn:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}
.main-btn:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100px) skewX(-15deg);
}
.main-btn--light {
  background-color: #FFF;
  color: #3D00B7;
}
.main-btn--light:hover {
  background-color: #3D00B7;
  color: #ffffff;
}
.main-btn--light:hover::before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 700ms;
}
.main-btn--light:hover::after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 700ms;
}
.main-btn--dark {
  background-color: #3D00B7;
  color: #FFF;
}
.main-btn--dark:hover {
  background-color: #ffffff;
  color: #3d00b7;
}
.main-btn--dark:hover::before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 700ms;
}
.main-btn--dark:hover::after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 700ms;
}
.main-btn:focus {
  outline: 0;
}
.main-btn:active {
  opacity: 0.5;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid #EFEFEF;
  background-color: #FFF;
}
.header__wrapper {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  color: #3D00B7;
  font-family: "Archivo Black";
  font-size: 1.667vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (min-width: 1440px) {
  .logo-link {
    font-size: 24px;
  }
}

.header-nav {
  display: none;
}
.header-nav__list {
  display: flex;
  gap: 47px;
  align-items: center;
}
.header-nav__item {
  position: relative;
  transition: all 250ms ease-in-out;
}
.header-nav__item:hover, .header-nav__item:focus {
  opacity: 0.5;
}
.header-nav__item a {
  color: #000;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}

.search-form {
  position: relative;
  width: 300px;
  transition: all 300ms ease-in-out;
  pointer-events: none;
}
.search-form.active {
  width: 50%;
}
.search-form__input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.472vw;
  border-radius: 100px;
  border: 2px solid #EFEFEF;
  outline: none;
  background: #FFF;
  padding: 0px 45px 0px 20px;
  transition: all 300ms ease-in-out;
  pointer-events: auto;
}
@media screen and (min-width: 1440px) {
  .search-form__input {
    height: 50px;
  }
}
.search-form__input::placeholder {
  color: #C0C0C0;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}
.search-form__input:hover, .search-form__input:focus, .search-form__input:active {
  border: 1px solid #3d00b7;
}
.search-form__icon {
  width: 1.667vw;
  height: 1.667vw;
  position: absolute;
  right: 1.389vw;
  top: 0.833vw;
}
@media screen and (min-width: 1440px) {
  .search-form__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 12px;
  }
}

.header-button__list {
  display: flex;
  gap: 20px;
}
.header-button__btn {
  font-family: "DM Sans";
  font-size: 0.972vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 14px */
  letter-spacing: 0.56px;
  cursor: pointer;
}
@media screen and (min-width: 1440px) {
  .header-button__btn {
    font-size: 14px;
  }
}
.header-button__btn.upload {
  padding: 1.25vw 2.778vw;
}
@media screen and (min-width: 1440px) {
  .header-button__btn.upload {
    padding: 18px 40px;
  }
}
.header-button__btn.wallet {
  position: relative;
  padding: 1.25vw 1.528vw;
  display: flex;
  flex-direction: column;
  background: none;
  border-radius: 60px;
  border: 1px solid #3D00B7;
  color: #3D00B7;
  overflow: hidden;
  transition: all 450ms ease-in-out;
}
@media screen and (min-width: 1440px) {
  .header-button__btn.wallet {
    padding: 18px 22px;
  }
}
.header-button__btn.wallet span {
  transition: all 450ms ease-in-out;
}
.header-button__btn.wallet::after {
  content: "Connect";
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 250%);
  transition: all 450ms ease-in-out;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 14px */
  letter-spacing: 0.56px;
}
.header-button__btn.wallet:hover {
  background-color: #3D00B7;
}
.header-button__btn.wallet:hover span {
  transform: translateY(-50px);
}
.header-button__btn.wallet:hover::after {
  color: #FFF;
  transform: translate(-50%, -50%);
}
.header-button__btn.wallet:focus {
  outline: 0;
}
.header-button__btn.wallet:active {
  opacity: 0.5;
}

.hero__wrapper {
  padding: 35px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 42.5vw;
}
@media screen and (min-width: 1440px) {
  .explore {
    width: 612px;
  }
}
.explore__title {
  color: #000;
  font-family: "Archivo Black";
  font-size: 2.7vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
@media screen and (min-width: 1440px) {
  .explore__title {
    font-size: 40px;
  }
}
.explore__text {
  margin-top: 22px;
  color: #565656;
  font-family: "DM Sans";
  font-size: 1.7vw;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
@media screen and (min-width: 1440px) {
  .explore__text {
    font-size: 25px;
  }
}
.explore__btn {
  margin-top: 2.847vw;
  padding: 1.389vw 2.778vw;
  font-family: "Poppins";
  font-size: 1.389vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 1440px) {
  .explore__btn {
    margin-top: 41px;
    padding: 20px 40px;
    font-size: 20px;
    letter-spacing: 1.3px;
  }
}
.explore__list {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
}
.explore__item {
  width: 7.292vw;
}
@media screen and (min-width: 1440px) {
  .explore__item {
    width: 105px;
  }
}
.explore__item .title {
  color: #000;
  font-family: "Archivo Black";
  font-size: 2.7vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
}
@media screen and (min-width: 1440px) {
  .explore__item .title {
    font-size: 40px;
  }
}
.explore__item .text {
  color: #565656;
  font-family: "DM Sans";
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 32px */
}
@media screen and (min-width: 1440px) {
  .explore__item .text {
    font-size: 20px;
  }
}

.live {
  width: 24.306vw;
  height: 27.083vw;
}
@media screen and (min-width: 1440px) {
  .live {
    width: 350px;
    height: 390px;
  }
}
.live__wrapper {
  width: 24.306vw;
  height: 27.083vw;
}
@media screen and (min-width: 1440px) {
  .live__wrapper {
    width: 350px;
    height: 390px;
  }
}
.live__grid {
  position: absolute;
  border-radius: 24px;
  overflow: hidden;
}
.live__grid .image {
  display: block;
  width: 100%;
}
.live__row {
  position: absolute;
  top: 26px;
  left: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
}
.live__title {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 1.944vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.4px;
}
@media screen and (min-width: 1440px) {
  .live__title {
    font-size: 28px;
  }
}

.auction-logo {
  position: absolute;
  top: 17.361vw;
  left: -6.25vw;
  z-index: 4;
  display: block;
  width: 9.722vw;
  height: 9.722vw;
  border-radius: 50%;
  animation: spin 30000ms linear infinite;
}
@media screen and (min-width: 1440px) {
  .auction-logo {
    top: 250px;
    left: -90px;
    width: 140px;
    height: 140px;
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.user__row {
  display: flex;
  align-items: center;
  gap: 1.042vw;
}
@media screen and (min-width: 1440px) {
  .user__row {
    gap: 15px;
  }
}
.user__image {
  width: 2.292vw;
  height: 2.292vw;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (min-width: 1440px) {
  .user__image {
    width: 33px;
    height: 33px;
  }
}
.user__text {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 1.389vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (min-width: 1440px) {
  .user__text {
    font-size: 20px;
  }
}

.price {
  position: absolute;
  left: 1.806vw;
  bottom: 1.667vw;
  padding: 0.972vw 1.806vw;
  width: 20.833vw;
  height: 5.125vw;
  flex-shrink: 0;
  border-radius: 12px;
  background: rgba(137, 137, 137, 0.2);
  backdrop-filter: blur(25px);
}
@media screen and (min-width: 1440px) {
  .price {
    left: 26px;
    bottom: 24px;
    padding: 14px 26px;
    width: 300px;
    height: 73.846px;
  }
}
.price__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price__item {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.price__item span {
  position: relative;
  width: 7.639vw;
}
@media screen and (min-width: 1440px) {
  .price__item span {
    width: 110px;
  }
}
.price__row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.price__text {
  color: #FFF;
  font-family: "DM Sans";
  font-size: 0.833vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 1440px) {
  .price__text {
    font-size: 12px;
  }
}
.price__icon {
  width: 0.903vw;
  height: 1.458vw;
}
@media screen and (min-width: 1440px) {
  .price__icon {
    width: 13px;
    height: 21px;
  }
}
.price__eth {
  top: 0;
  left: 0;
  color: #FFF;
  font-family: "DM Sans";
  font-size: 1.111vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (min-width: 1440px) {
  .price__eth {
    font-size: 16px;
  }
}
.price__eth.timer {
  position: absolute;
  top: 0px;
  left: 0px;
}

.hero-advantage {
  position: relative;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.hero-advantage::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 98vw;
  height: 100%;
  background: rgba(217, 224, 236, 0.2);
}
.hero-advantage__title {
  width: 27.639vw;
  color: #000;
  font-family: "Archivo Black";
  font-size: 1.944vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0;
  transform: translateX(-30%);
  transition: transform 1500ms ease, opacity 1500ms ease;
}
@media screen and (min-width: 1440px) {
  .hero-advantage__title {
    width: 398px;
    font-size: 28px;
  }
}
.hero-advantage__list {
  display: flex;
  flex-direction: row;
  gap: 56px;
}
.hero-advantage__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: calc((100% - 56px) / 2);
}
.hero-advantage__item .title {
  color: #000;
  font-family: "DM Sans";
  font-size: 1.389vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (min-width: 1440px) {
  .hero-advantage__item .title {
    font-size: 20px;
  }
}
.hero-advantage__item .text {
  width: 17.292vw;
  color: #696969;
  font-family: "DM Sans";
  font-size: 0.972vw;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 22.4px */
}
@media screen and (min-width: 1440px) {
  .hero-advantage__item .text {
    width: 249px;
    font-size: 14px;
  }
}
.hero-advantage__item .icon {
  position: absolute;
  top: 0px;
  left: -51px;
  width: 36px;
  height: 36px;
}

.top-collection__wrapper {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.selected-content {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 32px;
}
.selected-content .image {
  display: block;
  width: 400px;
  height: 424px;
  border-radius: 24px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.info__name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.info__name .image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.info__name .title {
  color: #000;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.info__name .text {
  color: #363639;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.info__bid {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.info__bid .text {
  color: #3A3A3A;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.info__bid span {
  display: flex;
  gap: 10px;
}
.info__bid .icon {
  width: 13px;
  height: 21.333px;
  flex-shrink: 0;
}
.info__bid .bid {
  color: #3A3A3A;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.fade-out {
  opacity: 0;
  transition: opacity 200ms ease;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 41px;
  align-items: center;
}
.content__item {
  display: flex;
  gap: 20px;
}
.content__image {
  display: block;
  width: 147px;
  height: 147px;
  border-radius: 12px;
}
.content__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content__inner .title {
  color: #000;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content__inner span {
  display: flex;
  align-items: center;
  gap: 8px;
}
.content__inner .image {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.content__inner .bit-wrapper {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 6px;
  border: 1px solid #00AC4F;
}
.content__inner .icon {
  display: inline-block;
  width: 8.531px;
  height: 14px;
}
.content__inner .bit {
  color: #00AC4F;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content__inner .number {
  color: #757575;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content__inner .button {
  padding: 14px 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.top__title {
  color: #000;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.top__text {
  color: #3D00B7;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.top__list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  list-style: none;
  counter-reset: my-counter;
  padding: 0;
}
.top__item {
  counter-increment: my-counter;
  position: relative;
  padding-left: 30px;
}
.top__item::before {
  content: counter(my-counter) "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #000;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 103%;
  /* 24.72px */
  letter-spacing: -0.6px;
}
.top__item .wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #F0F0F0;
}
.top__item .inner {
  position: relative;
}
.top__item .inner .icon {
  position: absolute;
  top: 0px;
  right: -16px;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.top__item .image {
  display: block;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 60px;
}
.top__item span {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.top__item .name {
  color: #000;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 103%;
  /* 16.48px */
  letter-spacing: -0.4px;
}
.top__item .number {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #636363;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 103%;
  /* 14.42px */
  letter-spacing: -0.35px;
}
.top__item .icon {
  width: 15px;
  height: 24px;
  flex-shrink: 0;
}
.top__item .percent {
  color: #14C8B0;
  text-align: right;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 103%;
  /* 20.6px */
  letter-spacing: -0.5px;
}
.top__item .percent--low {
  color: #FF002E;
}