<div class="selected-content">
<picture class="image">
  {mageSrcSet} src=" {imageSrc} " alt="">
</picture>
<div class="info">
  <div class="info__name">
    <img class="image" srcset="{userImageSrc} 1x" src="{userImageSrc}">
    <span>
      <h4 class="title">{userName}</h4>
      <p class="text">10 in the stock</p>
    </span>
  </div>
  <div class="info__bid">
    <p class="text">Highest Bid</p>
    <span>
      <svg class="icon">
        <use href="./images/icons.svg#ethereum-grey"></use>
      </svg>
      <p class="bid">{bitValue}</p>
    </span>
  </div>
</div>