<div class="swiper-slide">
  <section class="collections section">
    <div class="collections__wrapper container">
      <h2 class="collections__title">
        Collection Featured NFTs
      </h2>
      <ul class="collections__list">
        <!-- <li class="collections__item">
          <div class="collections__grid">
            <div class="collections-big" id="collections-swiper-big">
              <div class="collections-big__wrapper swiper-wrapper">
                <div class="collections-big__slide swiper-slide">
                  <picture class="image">
                    <source srcset="./images/nft-1.avif 1x, ./images/nft-1@2x.avif 2x" type="image/avif">
                    <source srcset="./images/nft-1.webp 1x, ./images/nft-1@2x.webp 2x" type="image/webp">
                    <img srcset="./images/nft-1.jpg 1x, ./images/nft-1@2x.jpg 2x" src="./images/nft-1.jpg" alt="">
                  </picture>
                </div>
                <div class="collections-big__slide swiper-slide">
                  <picture class="image">
                    <source srcset="./images/nft-2.avif 1x, ./images/nft-2@2x.avif 2x" type="image/avif">
                    <source srcset="./images/nft-2.webp 1x, ./images/nft-2@2x.webp 2x" type="image/webp">
                    <img srcset="./images/nft-2.jpg 1x, ./images/nft-2@2x.jpg 2x" src="./images/nft-2.jpg" alt="">
                  </picture>
                </div>
                <div class="collections-big__slide swiper-slide">
                  <picture class="image">
                    <source srcset="./images/nft-3.avif 1x, ./images/nft-3@2x.avif 2x" type="image/avif">
                    <source srcset="./images/nft-3.webp 1x, ./images/nft-3@2x.webp 2x" type="image/webp">
                    <img srcset="./images/nft-3.jpg 1x, ./images/nft-3@2x.jpg 2x" src="./images/nft-3.jpg" alt="">
                  </picture>
                </div>
              </div>
            </div>
            <div thumbsSlider="" class="collections-small" id="collections-swiper-small">
              <div class="collections-small__wrapper swiper-wrapper">
                <div class="collections-small__slide swiper-slide">
                  <picture class="image">
                    <source srcset="./images/nft-1.avif 1x, ./images/nft-1@2x.avif 2x" type="image/avif">
                    <source srcset="./images/nft-1.webp 1x, ./images/nft-1@2x.webp 2x" type="image/webp">
                    <img srcset="./images/nft-1.jpg 1x, ./images/nft-1@2x.jpg 2x" src="./images/nft-1.jpg" alt="">
                  </picture>
                </div>
                <div class="collections-small__slide small-second swiper-slide">
                  <picture class="image">
                    <source srcset="./images/nft-2.avif 1x, ./images/nft-2@2x.avif 2x" type="image/avif">
                    <source srcset="./images/nft-2.webp 1x, ./images/nft-2@2x.webp 2x" type="image/webp">
                    <img srcset="./images/nft-2.jpg 1x, ./images/nft-2@2x.jpg 2x" src="./images/nft-2.jpg" alt="">
                  </picture>
                </div>
                <div class="collections-small__slide small-third swiper-slide">
                  <picture class="image">
                    <source srcset="./images/nft-3.avif 1x, ./images/nft-3@2x.avif 2x" type="image/avif">
                    <source srcset="./images/nft-3.webp 1x, ./images/nft-3@2x.webp 2x" type="image/webp">
                    <img srcset="./images/nft-3.jpg 1x, ./images/nft-3@2x.jpg 2x" src="./images/nft-3.jpg" alt="">
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <h4 class="collections__subtitle">
            Amazing Collection
          </h4>
          <div class="collections__inner">
            <span>
              <img src="./images/user-live-1.jpg" alt="" class="collections__user-img">
              <p class="collections__text">
                By&nbsp;
                <span class="collections__name">
          
                </span>
              </p>
            </span>
            <button class="collections__button main-btn main-btn--light">
              Total&nbsp;
              <span class="collections__quantity">
          
              </span>
              &nbsp;Items
            </button>
          </div>
        </li> -->

        <!-- 
          <li class="collections__item"> для первого топ 1 пользователя
          <div class="collections__grid">
            <div class="collections-big" id="collections-swiper-big">
              <div class="collections-big__wrapper swiper-wrapper">
                <div class="collections-big__slide swiper-slide">
                  <picture class="image">imageSrcSet первой id где упоминаеться пользователь
                    <source srcset="./images/nft-1.avif 1x, ./images/nft-1@2x.avif 2x" type="image/avif">
                    <source srcset="./images/nft-1.webp 1x, ./images/nft-1@2x.webp 2x" type="image/webp">
                    <img srcset="./images/nft-1.jpg 1x, ./images/nft-1@2x.jpg 2x" src="./images/nft-1.jpg" alt="">imageSrcSet первой id где упоминаеться пользователь
                  </picture>
                </div>
                <div class="collections-big__slide swiper-slide">
                  <picture class="image">
                    <source srcset="./images/nft-2.avif 1x, ./images/nft-2@2x.avif 2x" type="image/avif">imageSrcSet второй id где упоминаеться пользователь
                    <source srcset="./images/nft-2.webp 1x, ./images/nft-2@2x.webp 2x" type="image/webp">
                    <img srcset="./images/nft-2.jpg 1x, ./images/nft-2@2x.jpg 2x" src="./images/nft-2.jpg" alt="">imageSrc второй id где упоминаеться пользователь
                  </picture>
                </div>
                <div class="collections-big__slide swiper-slide">
                  <picture class="image">
                    <source srcset="./images/nft-3.avif 1x, ./images/nft-3@2x.avif 2x" type="image/avif">imageSrcSet третий id где упоминаеться пользователь
                    <source srcset="./images/nft-3.webp 1x, ./images/nft-3@2x.webp 2x" type="image/webp">
                    <img srcset="./images/nft-3.jpg 1x, ./images/nft-3@2x.jpg 2x" src="./images/nft-3.jpg" alt="">imageSrc третий id где упоминаеться пользователь
                  </picture>
                </div>
              </div>
            </div>
            <div thumbsSlider="" class="collections-small" id="collections-swiper-small">
              <div class="collections-small__wrapper swiper-wrapper">
                <div class="collections-small__slide swiper-slide">
                  <picture class="image">
                    <source srcset="./images/nft-1.avif 1x, ./images/nft-1@2x.avif 2x" type="image/avif">imageSrcSet первой id где упоминаеться пользователь
                    <source srcset="./images/nft-1.webp 1x, ./images/nft-1@2x.webp 2x" type="image/webp">
                    <img srcset="./images/nft-1.jpg 1x, ./images/nft-1@2x.jpg 2x" src="./images/nft-1.jpg" alt="">imageSrc первой id где упоминаеться пользователь
                  </picture>
                </div>
                <div class="collections-small__slide small-second swiper-slide">
                  <picture class="image">
                    <source srcset="./images/nft-2.avif 1x, ./images/nft-2@2x.avif 2x" type="image/avif">imageSrcSet второй id где упоминаеться пользователь
                    <source srcset="./images/nft-2.webp 1x, ./images/nft-2@2x.webp 2x" type="image/webp">
                    <img srcset="./images/nft-2.jpg 1x, ./images/nft-2@2x.jpg 2x" src="./images/nft-2.jpg" alt="">imageSrc второй id где упоминаеться пользователь
                  </picture>
                </div>
                <div class="collections-small__slide small-third swiper-slide">
                  <picture class="image">
                    <source srcset="./images/nft-3.avif 1x, ./images/nft-3@2x.avif 2x" type="image/avif"> imageSrcSet третий id где упоминаеться пользователь
                    <source srcset="./images/nft-3.webp 1x, ./images/nft-3@2x.webp 2x" type="image/webp">
                    <img srcset="./images/nft-3.jpg 1x, ./images/nft-3@2x.jpg 2x" src="./images/nft-3.jpg" alt="">imageSrc третий id где упоминаеться пользователь
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <h4 class="collections__subtitle">
            Amazing Collection
          </h4>
          <div class="collections__inner">
            <span>
              <img src="./images/user-live-1.jpg" alt="" class="collections__user-img">
              <p class="collections__text">
                By&nbsp;
                <span class="collections__name">
                  userName - пользовтеля 
                </span>
              </p>
            </span>
            <button class="collections__button main-btn main-btn--light">
              Total&nbsp;
              <span class="collections__quantity">
                а тут вставить в какой количестве раз userName упоминался в content.json
              </span>
              &nbsp;Items
            </button>
          </div>
        </li>
         -->

      </ul>
    </div>
  </section>
</div>