<div class="swiper-slide">
  <section class="collections section">
    <div class="collections__wrapper container">
      <h2 class="collections__title">
        Collection Featured NFTs
      </h2>
      <ul class="collections__list">
        <li class="collections__item">
          <div class="collections__grid">
            <div class="collections-card__wrapper big">
              <img src="./images/nft-1.jpg" alt="">
            </div>
            <div class="collections-card__wrapper small-first">
              <img src="./images/nft-2.jpg" alt="">
            </div>
            <div class="collections-card__wrapper small-second">
              <img src="./images/nft-3.jpg" alt="">
            </div>
            <div class="collections-card__wrapper small-third">
              <img src="./images/nft-4.jpg" alt="">
            </div>
            <div class="collections-card__wrapper small-quarter">
              <img src="./images/nft-5.jpg" alt="">
            </div>
            <div class="collections-card__wrapper small-fifth">
              <img src="./images/nft-6.jpg" alt="">
            </div>
          </div>
          <h4 class="collections__subtitle">
            Amazing Collection
          </h4>
          <div class="collections__inner">
            <span>
              <img src="./images/user-live-1.jpg" alt="" class="collections__user-img">
              <p class="collections__text">
                By&nbsp;
                <span class="collections__name">
          
                </span>
              </p>
            </span>
            <button class="collections__button main-btn main-btn--light">
              Total&nbsp;
              <span class="collections__quantity">
          
              </span>
              &nbsp;Items
            </button>
          </div>
        </li>
        <li class="collections__item">
          <div class="collections__grid">
            <div class="collections-card__wrapper big">
              <img src="./images/nft-1.jpg" alt="">
            </div>
            <div class="collections-card__wrapper small-first">
              <img src="./images/nft-2.jpg" alt="">
            </div>
            <div class="collections-card__wrapper small-second">
              <img src="./images/nft-3.jpg" alt="">
            </div>
            <div class="collections-card__wrapper small-third">
              <img src="./images/nft-4.jpg" alt="">
            </div>
            <div class="collections-card__wrapper small-quarter">
              <img src="./images/nft-5.jpg" alt="">
            </div>
            <div class="collections-card__wrapper small-fifth">
              <img src="./images/nft-6.jpg" alt="">
            </div>
          </div>
          <h4 class="collections__subtitle">
            Amazing Collection
          </h4>
          <div class="collections__inner">
            <span>
              <img src="./images/user-live-2.jpg" alt="" class="collections__user-img">
              <p class="collections__text">
                By&nbsp;
                <span class="collections__name">

                </span>
              </p>
            </span>
            <button class="collections__button main-btn main-btn--light"> 
              Total&nbsp;
              <span class="collections__quantity">

              </span>
              &nbsp;Items
            </button>
          </div>
        </li>
        <li class="collections__item">
          <div class="collections__grid">
            <div class="collections-card__wrapper big">
              <img src="./images/nft-1.jpg" alt="">
            </div>
            <div class="collections-card__wrapper small-first">
              <img src="./images/nft-2.jpg" alt="">
            </div>
            <div class="collections-card__wrapper small-second">
              <img src="./images/nft-3.jpg" alt="">
            </div>
            <div class="collections-card__wrapper small-third">
              <img src="./images/nft-4.jpg" alt="">
            </div>
            <div class="collections-card__wrapper small-quarter">
              <img src="./images/nft-5.jpg" alt="">
            </div>
            <div class="collections-card__wrapper small-fifth">
              <img src="./images/nft-6.jpg" alt="">
            </div>
          </div>
          <h4 class="collections__subtitle">
            Amazing Collection
          </h4>
          <div class="collections__inner">
            <span>
              <img src="./images/user-live-3.jpg" alt="" class="collections__user-img">
              <p class="collections__text">
                By&nbsp;
                <span class="collections__name">
          
                </span>
              </p>
            </span>
            <button class="collections__button main-btn main-btn--light">
              Total&nbsp;
              <span class="collections__quantity">
          
              </span>
              &nbsp;Items
            </button>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>