<div class="swiper-slide">
  <section class="collections section">
    <div class="collections__wrapper container">
      <h2 class="collections__title">
        Collection Featured NFTs
      </h2>
      <ul class="collections__list">
        <li class="collections__item">
          <div class="collections__grid">
            <div class="collections-card wrapper">
            
            </div>
          </div>
          <h4 class="collections__subtitle">
            Amazing Collection
          </h4>
          <div class="collections__inner">
            <span>
              <img src="" alt="">
              <p></p>
            </span>
            <button class="collections__button"> </button>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>