</main>
<!-- =================================== FOOTER =================================== -->
<footer class="footer section">
  <div class="footer__wrapper container">
    <div class="social">
      <h3 class="social__title">
        NFters
      </h3>
      <p class="social__text">
        The world’s first and largest digital marketplace for crypto collectibles and non-fungible tokens (NFTs). Buy, sell, and
        discover exclusive digital items.
      </p>
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      </ul>
    </div>
    <div class="footer-links">
      <span class="footer-links__inner">
        <h4 class="footer-links__title">
          Market Place
        </h4>
        <ul class="footer-links__list">
          <li class="footer-links__item">
            <a href="" class="footer-links__link">
              All NFTs
            </a>
          </li>
          <li class="footer-links__item">
            <a href="" class="footer-links__link">
              New
            </a>
          </li>
          <li class="footer-links__item">
            <a href="" class="footer-links__link">
              Art
            </a>
          </li>
          <li class="footer-links__item">
            <a href="" class="footer-links__link">
              Sports
            </a>
          </li>
          <li class="footer-links__item">
            <a href="" class="footer-links__link">
              Utility
            </a>
          </li>
          <li class="footer-links__item">
            <a href="" class="footer-links__link">
              Music
            </a>
          </li>
          <li class="footer-links__item">
            <a href="" class="footer-links__link">
              Domain Name
            </a>
          </li>
        </ul>
      </span>
      <span class="footer-links__inner">
        <h4 class="footer-links__title">
          My Account
        </h4>
        <ul class="footer-links__list">
          <li class="footer-links__item">
            <a href="" class="footer-links__link">
              Profile
            </a>
          </li>
          <li class="footer-links__item">
            <a href="" class="footer-links__link">
              Favorite
            </a>
          </li>
          <li class="footer-links__item">
            <a href="" class="footer-links__link">
              My Collections
            </a>
          </li>
          <li class="footer-links__item">
            <a href="" class="footer-links__link">
              Settings
            </a>
          </li>
        </ul>
      </span>
    </div>
    <div class="footer-info">
      <h3 class="footer-info__title">
        Stay in the loop
      </h3>
      <p class="footer-info__text">
        Join our mailing list to stay in the loop with our newest feature releases, NFT drops, and tips and tricks for
        navigating NFTs.
      </p>
      <div class="footer-subscribe">
        <div class="footer-subscribe__content">
          <form class="footer-subscribe__subscription">
            <input name="subscribe-form" class="footer-subscribe__add-email" type="email" placeholder="subscribe@me.now">
            <button class="footer-subscribe__submit-email" type="button">
              <span class="footer-subscribe__before-submit">Subscribe</span>
              <span class="footer-subscribe__after-submit">Thank you for subscribing!</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- =================================== FOOTER END =================================== -->

<!-- =======================================MODAL============================================ -->
<div class="collections-lightbox">
  <div class="collections-lightbox__overlay"></div>

  <div class="collections-lightbox__content">
    <ul class="collections-lightbox__list">

    </ul>
  </div>
  <button type="button" class="collections-lightbox__button" data-action="close-lightbox"></button>
</div>
<!-- =======================================  MODAL END ============================================== -->

<script src="js/main.min.js"></script>
</body>

</html>