</main>
<!-- =================================== FOOTER =================================== -->
<footer class="footer section">
  <div class="footer__wrapper container">
  </div>
</footer>
<!-- =================================== FOOTER END =================================== -->

<!-- =======================================MODAL============================================ -->

<!-- =======================================  MODAL END ============================================== -->

<script src="js/main.min.js"></script>
</body>

</html>