<div class="loader-overlay">
  <div class="loader-overlay__wrapper">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<!-- ================================ HEADER ========================================== -->
<header class="header">
  <div class="header__wrapper container">
    <a href="./" class="logo-link">NFTERS</a>
    <div class="search-form">
      <input name="search" type="text" class="search-form__input" placeholder="Search">
      <svg class="search-form__icon">
        <use href="./images/icons.svg#search"></use>
      </svg>
    </div>
       <div class="header-button">
        <ul class="header-button__list">
          <li class="header-button__item">
            <button class="header-button__btn main-btn main-btn--dark upload">
              Upload
            </button>
          </li>
          <li class="header-button__item">
            <button class="header-button__btn wallet">
              <span>Connect Wallet</span>
            </button>
          </li>
        </ul>
       </div>
  </div>
  
</header>
<!-- ================================ HEADER END========================================== -->
<main>