<div class="loader-overlay">
  <div class="loader-overlay__wrapper">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<!-- ================================ HEADER ========================================== -->
<header class="header background-theme">
  <div class="header__wrapper container">
    <a href="./" class="logo-link">NFTERS</a>
    <div class="dark-mode">
      <input type="checkbox" class="checkbox" id="theme-toggle">
      <label for="theme-toggle" class="checkbox-label">
        <i class="fas fa-moon"></i>
        <i class="fas fa-sun"></i>
        <span class="ball"></span>
      </label>
    </div>
    <div class="search-form">
      <input name="search" type="text" class="search-form__input text-theme" placeholder="Search">
      <svg class="search-form__icon">
        <use href="./images/icons.svg#search"></use>
      </svg>
    </div>
       <div class="header-button">
        <ul class="header-button__list">
          <li class="header-button__item">
            <button class="header-button__btn main-btn main-btn--dark upload">
              Upload
            </button>
          </li>
          <li class="header-button__item">
            <button class="header-button__btn wallet-btn">
              <span class="wallet-btn__first">Connect Wallet</span>
              <span class="wallet-btn__second">Connect</span>
            </button>
            <div class="wallet">
              <div class="wallet__wrapper">
                <span class="wallet__title-wrapper">
                  <h4 class="wallet__title title">
                    Connect Wallet
                  </h4>
                  <button class="wallet__btn-close"></button>
                </span>
                <ul class="wallet__list">
                  <li class="wallet__item">
                    <a href="#" class="wallet__link">
                      <picture class="image">
                        <source srcset="./images/wallet-1.avif" type="image/avif">
                        <source srcset="./images/wallet-1.webp" type="image/webp">
                        <img srcset="./images/wallet-1.png" src="./images/wallet-1.png" alt="">
                      </picture>
                    </a>
                  </li>
                  <li class="wallet__item">
                    <a href="#" class="wallet__link">
                      <picture class="image">
                        <source srcset="./images/wallet-2.avif" type="image/avif">
                        <source srcset="./images/wallet-2.webp" type="image/webp">
                        <img srcset="./images/wallet-2.png" src="./images/wallet-2.png" alt="">
                      </picture>
                    </a>
                  </li>
                  <li class="wallet__item">
                    <a href="#" class="wallet__link">
                      <picture class="image">
                        <source srcset="./images/wallet-3.avif" type="image/avif">
                        <source srcset="./images/wallet-3.webp" type="image/webp">
                        <img srcset="./images/wallet-3.png" src="./images/wallet-3.png" alt="">
                      </picture>
                    </a>
                  </li>
                  <li class="wallet__item">
                    <a href="#" class="wallet__link">
                      <picture class="image">
                        <source srcset="./images/wallet-4.avif" type="image/avif">
                        <source srcset="./images/wallet-4.webp" type="image/webp">
                        <img srcset="./images/wallet-4.png" src="./images/wallet-4.png" alt="">
                      </picture>
                    </a>
                  </li>
                </ul>
                <span class="wallet__button-wrapper">
                  <p class="wallet__text">
                    Haven`t got a crypto wallet yet?
                  </p>
                  <button class="wallet__btn main-btn main-btn--dark ">
                    Learn How to Connect
                  </button>
                </span>
              </div>
            </div>
          </li>
        </ul>
       </div>
  </div>
  
</header>
<!-- ================================ HEADER END========================================== -->
<main>