<!-- ================================ HEADER ========================================== -->
<header class="header">
  <div class="header__wrapper container">
    <a href="./" class="logo-link">NFTERS</a>
    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a href="">
            Marketplace
          </a>
        </li>
        <li class="header-nav__item">
          <a href="">Resource</a>
        </li>
        <li class="header-nav__item">
          <a href="">About</a>
        </li>
      </ul>
    </nav>
    <div class="search-form">
      <input type="text" class="search-form__input" placeholder="Search">
      <svg class="search-form__icon">
        <use href="./images/icons.svg#search"></use>
      </svg>
    </div>
       <div class="header-button">
        <ul class="header-button__list">
          <li class="header-button__item">
            <button class="header-button__btn upload">
              Upload
            </button>
          </li>
          <li class="header-button__item">
            <button class="header-button__btn wallet">
              <span>Connect Wallet</span>
            </button>
          </li>
        </ul>
       </div>
  </div>
  
</header>
<!-- ================================ HEADER END========================================== -->
<main>