<section class="hero section">
  <div class="hero__wrapper container">
    <div class="explore">
      <h1 class="explore__title">
        Discover, and collect Digital Art NFTs
      </h1>
      <p class="explore__text">
        Digital marketplace for crypto collectibles and non-fungible tokens (NFTs). Buy, Sell, and discover exclusive
        digital
        assets.
      </p>
      <ul class="explore__list your-target-element">
        <li class="explore__item">
          <h2 class="title">
            <span class="counter">98K+</span>
          </h2>
          <p class="text">
            Artwork
          </p>
        </li>
        <li class="explore__item">
          <h2 class="title">
            <span class="counter">12K+</span>
          </h2>
          <p class="text">
            Auction
          </p>
        </li>
        <li class="explore__item">
          <h2 class="title">
            <span class="counter">15K+</span>
          </h2>
          <p class="text">
            Artist
          </p>
        </li>
      </ul>
      <a href="#nfts-section" class="explore__btn main-btn main-btn--dark" >
        Explore Now
      </a>
    </div>
    <div class="live">
      <div class="live__wrapper swiper-wrapper">
        <div class="live__grid swiper-slide">
          <picture class="image">
            <source srcset="./images/1.avif 1x, ./images/1@2x.avif 2x" type="image/avif">
            <source srcset="./images/1.webp 1x, ./images/1@2x.webp 2x" type="image/webp">
            <img srcset="./images/1.jpg 1x, ./images/1@2x.jpg 2x" src="./images/1.jpg" alt="">
          </picture>
          <div class="live__row">
            <h3 class="live__title">
              Abstr Gradient NFT
            </h3>
            <span class="user__row">
              <img class="user__image" srcset="./images/user-live-1.jpg 1x, ./images/user-live-1@2x.jpg 2x"
                src="./images/user-live-1.jpg" alt="">
              <p class="user__text">Arkhan17</p>
            </span>
          </div>
          <div class="price">
            <ul class="price__list">
              <li class="price__item">
                <p class="price__text">
                  Current Bid
                </p>
                <span class="price__row">
                  <svg class="price__icon">
                    <use href="./images/icons.svg#ethereum"></use>
                  </svg>
                  <p class="price__eth">0.25 ETH</p>
                </span>
              </li>
              <li class="price__item">
                <p class="price__text">
                  Ends in
                </p>
                <span>
                  <p class="price__eth timer">
                    <span id="timer1_hours" data-value="hours">00h</span>
                    <span id="timer1_minutes" data-value="minutes">00m</span>
                    <span id="timer1_seconds" data-value="seconds">00s</span>
                  </p>
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="live__grid swiper-slide">
          <picture class="image">
            <source srcset="./images/2.avif 1x, ./images/2@2x.avif 2x" type="image/avif">
            <source srcset="./images/2.webp 1x, ./images/2@2x.webp 2x" type="image/webp">
            <img srcset="./images/2.jpg 1x, ./images/1@2x.jpg 2x" src="./images/2.jpg" alt="">
          </picture>
          <div class="live__row">
            <h3 class="live__title">
              Str Gradient NFT
            </h3>
            <span class="user__row">
              <img class="user__image" srcset="./images/user-live-2.jpg 1x" src="./images/user-live-2.jpg" alt="">
              <p class="user__text">Bekk34</p>
            </span>
          </div>
          <div class="price">
            <ul class="price__list">
              <li class="price__item">
                <p class="price__text">
                  Current Bid
                </p>
                <span class="price__row">
                  <svg class="price__icon">
                    <use href="./images/icons.svg#ethereum"></use>
                  </svg>
                  <p class="price__eth">0.12 ETH</p>
                </span>
              </li>
              <li class="price__item">
                <p class="price__text">
                  Ends in
                </p>
                <span>
                  <p class="price__eth timer">
                    <span id="timer2_hours" data-value="hours">00h</span>
                    <span id="timer2_minutes" data-value="minutes">00m</span>
                    <span id="timer2_seconds" data-value="seconds">00s</span>
                  </p>
                </span>
              </li>
            </ul>

          </div>
        </div>
        <div class="live__grid swiper-slide">
          <picture class="image">
            <source srcset="./images/3.avif 1x, ./images/3@2x.avif 2x" type="image/avif">
            <source srcset="./images/3.webp 1x, ./images/3@2x.webp 2x" type="image/webp">
            <img srcset="./images/3.jpg 1x, ./images/3@2x.jpg 2x" src="./images/3.jpg" alt="">
          </picture>
          <div class="live__row">
            <h3 class="live__title">
              Dek Color NFT
            </h3>
            <span class="user__row">
              <img class="user__image" srcset="./images/user-live-3.jpg 1x" src="./images/user-live-3.jpg" alt="">
              <p class="user__text">GunF</p>
            </span>
          </div>
          <div class="price">
            <ul class="price__list">
              <li class="price__item">
                <p class="price__text">
                  Current Bid
                </p>
                <span class="price__row">
                  <svg class="price__icon">
                    <use href="./images/icons.svg#ethereum"></use>
                  </svg>
                  <p class="price__eth">0.25 ETH</p>
                </span>
              </li>
              <li class="price__item">
                <p class="price__text">
                  Ends in
                </p>
                <span>
                  <p class="price__eth timer">
                    <span id="timer3_hours" data-value="hours">00h</span>
                    <span id="timer3_minutes" data-value="minutes">00m</span>
                    <span id="timer3_seconds" data-value="seconds">00s</span>
                  </p>
                </span>
              </li>
            </ul>

          </div>
        </div>
        <div class="auction-logo">
          <picture class="image">
            <source srcset="./images/live-auction.avif" type="image/live-auction.avif">
            <source srcset="./images/live-auction.webp" type="image/live-auction.webp">
            <img srcset="./images/live-auction.png" src="./images/.png" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-advantage container">
    <h2 class="hero-advantage__title">The amazing NFT art of the world here</h2>
    <ul class="hero-advantage__list">
      <li class="hero-advantage__item">
        <h3 class="title">
          Fast Transaction
        </h3>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam etiam viverra tellus imperdiet.
        </p>
        <svg class="icon">
          <use href="./images/icons.svg#fast"></use>
        </svg>
      </li>
      <li class="hero-advantage__item">
        <h3 class="title">
          Growth Transaction
        </h3>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <svg class="icon">
          <use href="./images/icons.svg#growth"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
