<section class="hero">
  <div class="hero__wrapper container">
    <div class="explore">
      <h1 class="explore__title">
        Discover, and collect Digital Art NFTs
      </h1>
      <p class="explore__text">
        Digital marketplace for crypto collectibles and non-fungible tokens (NFTs). Buy, Sell, and discover exclusive digital
        assets.
      </p>
      <button class="explore__btn">
        Explore Now
      </button>
      <ul class="explore__list">
        <li class="explore__item">
          <h3 class="item">
            98K+
          </h3>
          <p class="text">
            Artwork
          </p>
        </li>
        <li class="explore__item">
          <h3 class="item">
            12K+
          </h3>
          <p class="text">
            Auction
          </p>
        </li>
        <li class="explore__item">
          <h3 class="item">
            15K+
          </h3>
          <p class="text">
            Artist
          </p>
        </li>
      </ul>
    </div>
    <div class="live">
      <div class="live__row">
        <picture class="image">
          <source srcset="./images/1.avif 1x, ./images/1@2x.avif 2x" media="(min-width: 1440px)" type="image/avif">
          <source srcset="./images/1.webp 1x, ./images/1@2x.webp 2x" media="(min-width: 1440px)" type="image/webp">
          <source srcset="./images/1.jpg 1x, ./images/1@2x.jpg 2x" media="(min-width: 1440px)">
          <source srcset="./images/1.avif 1x, ./images/1@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
          <source srcset="./images/1.webp 1x, ./images/1@2x.webp 2x" media="(min-width: 1024px)" type="image/webp">
          <source srcset="./images/1.jpg 1x, ./images/1@2x.jpg 2x" media="(min-width: 1024px)">
          <source srcset="./images/1.avif 1x, ./images/1@2x.avif 2x" type="image/avif">
          <source srcset="./images/1.webp 1x, ./images/1@2x.webp 2x" type="image/webp">
          <img srcset="./images/1.jpg 1x, ./images/1@2x.jpg 2x" src="./images/.jpg" alt="">
        </picture>
      </div>
    </div>
  </div>

</section>