<section class="nfts section" id="nfts-section">
  <div class="nfts__wrapper container">
    <div class="nfts-button">
      <ul class="nfts-tag">
        <li class="nfts-tag__item">
          <button class="nfts-tag__btn active text-theme" data-category="All Categories">
            All Categories
          </button>
        </li>
        <li class="nfts-tag__item">
          <button class="nfts-tag__btn text-theme" data-category="Illustration">
            Illustration
          </button>
        </li>
        <li class="nfts-tag__item">
          <button class="nfts-tag__btn text-theme" data-category="Painting">
            Painting
          </button>
        </li>
        <li class="nfts-tag__item">
          <button class="nfts-tag__btn text-theme" data-category="Digital Art">
            Digital Art
          </button>
        </li>
        <li class="nfts-tag__item">
          <button class="nfts-tag__btn text-theme" data-category="Graphic Design">
            Graphic Design
          </button>
        </li>
        <li class="nfts-tag__item">
          <button class="nfts-tag__btn text-theme" data-category="Print">
            Print
          </button>
        </li>
      </ul>
      <select id="sortSelect" class="nfts-sort text-theme background-theme">
        <option value="nameAscending">Sort by Name (A-Z)</option>
        <option value="nameDescending">Sort by Name (Z-A)</option>
        <option value="priceAscending">Sort by Price (Ascending)</option>
        <option value="priceDescending">Sort by Price (Descending)</option>
      </select>
    </div> 
    <ul id="nftsList" class="nfts-list">
      <!-- create content.json -->
    </ul>
    <div class="nfts-pagination">
      <button id="prevPage" class="nfts-pagination__btn main-btn-accent">previous</button>
      <div id="pageNumbers" class="nfts-pagination__numbers text-theme"></div>
      <button id="nextPage" class="nfts-pagination__btn main-btn-accent">next</button>
    </div>
  </div>
  
</section>