<section class="nfts section">
  <div class="nfts__wrapper container">
    <ul class="nfts-tag">
      <li class="nfts-tag__item">
        <button class="nfts-tag__btn main-btn main-btn">

        </button>
      </li>
    </ul>
    <ul class="nfts__list">
      <li class="nfts_item">
        <div class="nft-icon">
          <picture class="image">
            <source srcset="./images/nft-1.avif 1x, ./images/nft-1@2x.avif 2x" type="image/avif">
            <source srcset="./images/nft-1.webp 1x, ./images/nft-1@2x.webp 2x" type="image/webp">
            <img srcset="./images/nft-1.jpg 1x, ./images/nft-1@2x.jpg 2x" src="./images/nft-1.jpg" alt="">
          </picture>

        </div>
      </li>
    </ul>
  </div>
  <div class="nfts-pagination">
    <button id="prevPage">prev</button>
    <div id="pageNumbers" class="page-numbers"></div>
    <button id="nextPage">next</button>
  </div>
</section>