<section class="sign-up section">
  <div class="sign-up__wrapper container">
    <div class="example">
      <ul class="example__list">
        <li class="example__item big">
          <span class="example__inner">
            <picture class="example__image">
              <source srcset="./images/nft-33.avif 1x, ./images/nft-33@2x.avif 2x" type="image/avif">
              <source srcset="./images/nft-33.webp 1x, ./images/nft-33@2x.webp 2x" type="image/webp">
              <img srcset="./images/nft-33.jpg 1x, ./images/nft-33@2x.jpg 2x" src="./images/nft-33.jpg" alt="">
            </picture>
            <img src="./images/user-live-7.jpg" alt="" class="example__user-img">
          </span>
        </li>
        <li class="example__item medium">
          <span class="example__inner">
            <picture class="example__image">
              <source srcset="./images/nft-34.avif 1x, ./images/nft-34@2x.avif 2x" type="image/avif">
              <source srcset="./images/nft-34.webp 1x, ./images/nft-34@2x.webp 2x" type="image/webp">
              <img srcset="./images/nft-34.jpg 1x, ./images/nft-34@2x.jpg 2x" src="./images/nft-34.jpg" alt="">
            </picture>
            <img src="./images/user-live-8.jpg" alt="" class="example__user-img">
          </span>
        </li>
        <li class="example__item small">
          <span  class="example__inner">
            <picture class="example__image">
              <source srcset="./images/nft-44.avif 1x, ./images/nft-44@2x.avif 2x" type="image/avif">
              <source srcset="./images/nft-44.webp 1x, ./images/nft-44@2x.webp 2x" type="image/webp">
              <img srcset="./images/nft-44.jpg 1x, ./images/nft-44@2x.jpg 2x" src="./images/nft-44.jpg" alt="">
            </picture>
            <img src="./images/user-live-9.jpg" alt="" class="example__user-img">
          </span>
        </li>
      </ul>
    </div>
    <div class="sign-up-text">
      <h3 class="sign-up-text__title">
        Create and sell your NFTs
      </h3>
      <p class="sign-up-text__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisi ac phasellus placerat a pellentesque tellus sed
        egestas. Et tristique dictum sit tristique sed non. Lacinia lorem id consectetur pretium diam ut. Pellentesque eu sit
        blandit fringilla risus faucibus.
      </p>
      <button class="sign-up-text__button main-btn main-btn--light">
        Sign Up Now
      </button>
    </div>
  </div>
</section>