<div class="swiper-slide">
  <section class="top-collection section">
    <div class="top-collection__wrapper container">
      <div class="selected-content">
        <picture class="image">
          <source srcset="./images/nft-01.avif 1x, ./images/nft-01@2x.avif 2x" type="image/avif">
          <source srcset="./images/nft-01.webp 1x, ./images/nft-01@2x.webp 2x">
          <img srcset="./images/nft-01.jpg 1x, ./images/nft-01@2x.jpg 2x" src="./images/test.jpg" alt="">
        </picture>
        <div class="info">
          <div class="info__name">
            <img class="image" srcset="./images/user-live-1.jpg 1x" src="./images/user-live-1.jpg">
            <span>
              <h4 class="title">The Futr Abstr</h4>
              <p class="text">10 in the stock</p>
            </span>
          </div>
          <div class="info__bid">
            <p class="text">Highest Bid</p>
            <span>
              <svg class="icon">
                <use href="./images/icons.svg#ethereum-grey"></use>
              </svg>
              <p class="bid">0.25 ETH</p>
            </span>
          </div>
        </div>
      </div>

      <div class="content">
        <ul class="content__list swiper-wrapper">
          <!-- content.json -->
        </ul>
      </div>

      <div class="top">
        <h3 class="top__title">
          Top Collections over
        </h3>
        <p class="top__text">
          Last 7 days
        </p>
        <ol class="top__list" type="1">
          <li class="top__item">
            <div class="wrapper">
              <span class="inner">
                <picture class="image">
                  <source srcset="./images/top-1.avif 1x, ./images/top-1@2x.avif 2x" type="image/avif">
                  <source srcset="./images/top-1.webp 1x, ./images/top-1@2x.webp 2x" type="image/webp">
                  <img srcset="./images/top-1.jpg 1x, ./images/top-1@2x.jpg 2x" src="./images/top-1.jpg" alt="">
                </picture>
                <svg class="icon">
                  <use href="./images/icons.svg#verify"></use>
                </svg>
              </span>
              <span>
                <p class="name">
                  CryptoFunks
                </p>
                <p class="number">
                  <svg class="icon">
                    <use href="./images/icons.svg#ethereum-black"></use>
                  </svg>
                  19,769.39
                </p>
              </span>
              <p class="percent">+26.52%</p>
            </div>
          </li>
          <li class="top__item">
            <div class="wrapper">
              <picture class="image">
                <source srcset="./images/top-2.avif 1x, ./images/top-2@2x.avif 2x" type="image/avif">
                <source srcset="./images/top-2.webp 1x, ./images/top-2@2x.webp 2x" type="image/webp">
                <img srcset="./images/top-2.jpg 1x, ./images/top-2@2x.jpg 2x" src="./images/top-2.jpg" alt="">
              </picture>
              <span>
                <p class="name">
                  Cryptix
                </p>
                <p class="number number">
                  <svg class="icon">
                    <use href="./images/icons.svg#ethereum-black"></use>
                  </svg>
                  2,769.39
                </p>
              </span>
              <p class="percent percent--low">+10.52%</p>
            </div>
          </li>
          <li class="top__item">
            <div class="wrapper">
              <picture class="image">
                <source srcset="./images/top-3.avif 1x, ./images/top-3@2x.avif 2x" type="image/avif">
                <source srcset="./images/top-3.webp 1x, ./images/top-3@2x.webp 2x" type="image/webp">
                <img srcset="./images/top-3.jpg 1x, ./images/top-3@2x.jpg 2x" src="./images/top-3.jpg" alt="">
              </picture>
              <span>
                <p class="name">
                  Frensware
                </p>
                <p class="number">
                  <svg class="icon">
                    <use href="./images/icons.svg#ethereum-black"></use>
                  </svg>
                  9,232.39
                </p>
              </span>
              <p class="percent">+2.52%</p>
            </div>
          </li>
          <li class="top__item">
            <div class="wrapper">
              <span class="inner">
                <picture class="image">
                  <source srcset="./images/top-4.avif 1x, ./images/top-4@2x.avif 2x" type="image/avif">
                  <source srcset="./images/top-4.webp 1x, ./images/top-4@2x.webp 2x" type="image/webp">
                  <img srcset="./images/top-4.jpg 1x, ./images/top-4@2x.jpg 2x" src="./images/top-4.jpg" alt="">
                </picture>
                <svg class="icon">
                  <use href="./images/icons.svg#verify"></use>
                </svg>
              </span>
              <span>
                <p class="name">
                  PunkArt
                </p>
                <p class="number">
                  <svg class="icon">
                    <use href="./images/icons.svg#ethereum-black"></use>
                  </svg>
                  3,769.39
                </p>
              </span>
              <p class="percent">+1.52%</p>
            </div>
          </li>
          <li class="top__item">
            <div class="wrapper">
              <picture class="image">
                <source srcset="./images/top-5.avif 1x, ./images/top-5@2x.avif 2x" type="image/avif">
                <source srcset="./images/top-5.webp 1x, ./images/top-5@2x.webp 2x" type="image/webp">
                <img srcset="./images/top-5.jpg 1x, ./images/top-5@2x.jpg 2x" src="./images/top-5.jpg" alt="">
              </picture>
              <span>
                <p class="name">
                  Art Crypto
                </p>
                <p class="number">
                  <svg class="icon">
                    <use href="./images/icons.svg#ethereum-black"></use>
                  </svg>
                  10,769.39
                </p>
              </span>
              <p class="percent percent--low">+2.52%</p>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </section>
</div>
