<section class="top-collection section">
  <div class="top-collection__wrapper container">
    <div class="selected-content">
      <picture class="image">
        <source srcset="./images/test.avif 1x, ./images/test@2x.avif 2x" type="image/avif">
        <source srcset="./images/test.webp 1x, ./images/test@2x.webp 2x" type="image/webp">
        <img srcset="./images/test.jpg 1x, ./images/test@2x.jpg 2x" src="./images/test.jpg" alt="">
      </picture>
      <div class="info">
        <div class="info__name">
          <img class="image" srcset="./images/user-live.jpg 1x" src="./images/user-live-3.jpg">
          <span>
            <h4 class="title">The Futr Abstr</h4>
            <p class="text">10 in the stock</p>
          </span>
        </div>
        <div class="info__bid">
          <p class="text">Highest Bid</p>
          <span>
            <svg class="icon">
            <use href="./images/icons.svg#ethereum-grey"></use>
            </svg>
            <p class="bid">0.25 ETH</p>
          </span>
        </div> 
      </div>
    </div>

    <div class="content">
      <ul class="content__list">
        <!-- content.json -->
      </ul>
    </div>
    
  </div>
</section>