*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--text-font-family), sans-serif;
    font-style: normal;
    &.light-theme {
      background-color: var(--bg-color);
    }
    &.dark-theme {
        background-color: #1e2125;
        // --text-color: #ffffff;
    }

}
img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
    font-family: 'DM Sans';
    color: var(--text-color-dark);
}

a {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
