.container {
    margin: 0 auto;

    min-width: 320px;
    max-width: 1200px;

    // @media screen and (min-width: 1440px) {
    //     max-width: 1100px;
    //     padding-left: 5px;
    //     padding-right: 5px;
    // }
}
