@font-face {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/CircularStd-Light.woff2") format("woff2"),
        url("../fonts/CircularStd-Light.woff") format("woff");
}
@font-face {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/CircularStd-Book.woff2") format("woff2"),
        url("../fonts/CircularStd-Book.woff") format("woff");
}

@font-face {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/CircularStd-Medium.woff2") format("woff2"),
        url("../fonts/CircularStd-Medium.woff") format("woff");
}
@font-face {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2"),
        url("../fonts/CircularStd-Bold.woff") format("woff");
}
@font-face {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/CircularStd-Black.woff2") format("woff2"),
        url("../fonts/CircularStd-Black.woff") format("woff");
}



@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Inter-VariableFont_slnt,wght.woff2") format("woff2"),
        url("../fonts/Inter-VariableFont_slnt,wght.woff") format("woff");
}