.section-slider {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // height: 100vh;
  width: 100vw;
}
// .swiper-container {
//   width: 100%;
//   height: 90%;
// }

.swiper-pagination {
  position: fixed!important;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.swiper-pagination-bullet {
  width: 20px!important;
  height: 20px!important;
  background: #000!important;
}

.swiper-pagination-bullet-active {
  width: 20px!important;
  height: 20px!important;
  color: #fff;
  background: #3D00B7!important;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  color: rgba($color: #000000, $alpha: 0.0);
}