.section-slider {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
}
// .swiper-container {
//   width: 100%;
//   height: 90%;
// }

.swiper-pagination {
  position: fixed!important;
  bottom: 0;
  left: 0;
  width: 60%!important;
  text-align: center;
}
.swiper-pagination-bullet {
  // width: 20px!important;
  width: calc(100%/5)!important;
  height: 10px !important;
  background: #000!important;
  border-radius: 5px!important;
}

.swiper-pagination-bullet-active {
  // width: 20px!important;
  // height: 20px!important;
  color: #fff;
  background: #3D00B7!important;
  transform: scale(1)!important;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  color: rgba($color: #000000, $alpha: 0.0);
}

.swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-next-next,
.swiper-pagination-bullet-active-next {
  transform: scale(0.9)!important;
}