.section {
    margin: 75px auto 0 auto;
    padding: 0;

    min-width: 320px;
    max-width: 1440px;
    // @media screen and (min-width: 480px) {
    //     width: 480px;
    // }
    // @media screen and (min-width: 1024px) {
    //     max-width: 1024px;
    // }
    // @media screen and (min-width: 1440px) {
    //     max-width: 1440px;
    // }
}

