// :root {
//     --body-bg: #FFFFFF;
//     --primary-bg: #F3F3F3;
//     --title-font-family: 'Golos Text';
//     --text-font-family: 'Manrope';
//     --text-color-dark: #000000;
//     --text-color-light: #FFFFFF;
//     --primary-color-dark: #000000;
//     --primary-color-light: #FFFFFF;
//     // --accent-color: #FF6B00;
//     --transition-property: all 250ms ease-in-out;
// }