:root {
    --body-bg: #FFF;
    --primary-bg: #FFF;
    --title-font-family: 'Archivo Black';
    --text-font-family: 'DM Sans';
    --title-text-color: #000;
    --primary-text-color: #565656;
    --text-color-light: #FFFFFF;
    --text-color-dark: #000000;
    --accent-color: #3d00b7;
    --transition-property: 250ms ease-in-out;
}