@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;

    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);
}

.background-theme {
  background-color: var(--primary-bg-light);
  transition: background-color var(--transition-property);
  &--dark {
    background-color: var(--primary-bg-dark);
  }
}
.title-theme {
  color: var(--title-text-color-light);
  transition: color var(--transition-property);
  &--dark {
    color: var(--title-text-color-dark);
  }
}
.primary-text-theme {
  color: var(--primary-text-color-light);
  transition: color var(--transition-property);
  &--dark {
    color: var(--primary-text-color-dark);
  }
}
.text-theme {
  color: var(--text-color-light);
  transition: color var(--transition-property);
  &--dark {
      color: var(--text-color-dark);
  }
}
.icon-theme {
  fill: var(--icon-theme-light);
  transition: fill var(--transition-property);
  &--dark {
    fill: var(--icon-theme-dark);
  }
}