.dark-mode {
  position: fixed;
  top: 60px;
  left: 1%;
  z-index: 9;
  transform-origin: left;
  transition: transform 0.3s;
  @media screen and (min-width: 580px) {
    top: 10px;
  }
  @media screen and (min-width: 760px) {
    top: 9vw;
  }
  @media screen and (min-width: 1440px) {
    top: 21px;
    left: 3%;
    z-index: 11;
  }
  &.hidden {
    transform: scaleX(0) ;
  }
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #d9d9d9;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s linear;
  &--dark {
    background-color: #4a4a4a;
  }
}
.fa-moon {
  width: 20px;
  height: 20px;
  & .icon {
    width: 20px;
    height: 20px;
    fill: #f1c40f;
  }
}
.fa-sun {
  width: 20px;
  height: 20px;
  & .icon {
    width: 20px;
    height: 20px;
    fill: #f39c12;
  }
}
.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 4px;
  top: 3px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(30px);
}

.background-theme {
  background-color: var(--primary-bg-light);
  &--dark {
    background-color: var(--primary-bg-dark);
  }
}
.title-theme {
  color: var(--title-text-color-light);
  &--dark {
    color: var(--title-text-color-dark);
  }
}
.primary-text-theme {
  color: var(--primary-text-color-light);
  &--dark {
    color: var(--primary-text-color-dark);
  }
}
.text-theme {
  color: var(--text-color-light);
  &--dark {
      color: var(--text-color-dark);
  }
}
.icon-theme {
  fill: var(--icon-theme-light);
  &--dark {
    fill: var(--icon-theme-dark);
  }
}