.logo {
    position: relative;

    font-family: 'Ubuntu';
    @include font-title($fw: 700, $fs: 18px, $lh: 20px);
    color: var(--title-text-color-light);

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 6px;
        left: 41px;

        width: 20px;
        height: 12px;

        background-image: url(../images/logo.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    &.contact {
        color: var(--title-text-color-black);
        &::after {
            background-image: url(../images/logo-dark.svg);
        }
    }
}