.main-btn {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  font-family: 'Poppins';
  border: 1px solid var(--accent-color);
  text-align: center;
  cursor: pointer;
  transition: 500ms;
  position: relative;
  overflow: hidden;
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }
  &--light {
    background-color: var(--primary-bg-light);
    color: var(--accent-color);
    
    &:hover {
      background-color: var(--accent-color);
      color: var(--button-text-color);
      &::before {
        transform: translateX(300px) skewX(-15deg);
        opacity: 0.6;
        transition: 700ms;
      }
      &::after {
        transform: translateX(300px) skewX(-15deg);
        opacity: 1;
        transition: 700ms;
      }
    }
      &:active {
        box-shadow: inset 0.1rem 0.1rem 0.5rem #131313, inset -0.1rem -0.1rem 0.5rem #4f4f4f;
      }
  }
  &--dark {
    background-color: var(--accent-color);
    color: var(--button-text-color);
    &:hover {
      background-color: var(--primary-bg-light);
      color: var(--accent-color);
      &::before {
        transform: translateX(300px) skewX(-15deg);
        opacity: 0.6;
        transition: 700ms;
      }
      &::after {
        transform: translateX(300px) skewX(-15deg);
        opacity: 1;
        transition: 700ms;
      }
    }
      &:active {
        box-shadow: inset 0.1rem 0.1rem 0.5rem var(--accent-color), inset -0.1rem -0.1rem 0.5rem var(--accent-color);
      }
  }
  &:focus {
    outline: 0;
  }
  
}