.main-btn {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  
  border: 1px solid #3D00B7;
  text-align: center;
  cursor: pointer;
  transition: 700ms;
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }
  &--light {
    background-color: #FFF;
    color: #3D00B7;
    &:hover {
      background-color: #3D00B7;
      color: #ffffff;
      &::before {
        transform: translateX(300px) skewX(-15deg);
        opacity: 0.6;
        transition: 700ms;
      }
      &::after {
        transform: translateX(300px) skewX(-15deg);
        opacity: 1;
        transition: 700ms;
      }
    }
  }
  &--dark {
    background-color: #3D00B7;
    color: #FFF;
    &:hover {
      background-color: #ffffff;
      color: #3d00b7;
      &::before {
        transform: translateX(300px) skewX(-15deg);
        opacity: 0.6;
        transition: 700ms;
      }
      &::after {
        transform: translateX(300px) skewX(-15deg);
        opacity: 1;
        transition: 700ms;
      }
    }
  }
  &:focus {
    outline: 0;
  }
  &:active {
    opacity: 0.5;
  }
}