.collections {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__title {
    color: #000;
    font-family: 'Archivo Black';
    font-size: 1.944vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media screen and (min-width: 1440px) {
      font-size: 28px;
    }
  }

  &__list {
    margin-top: 2vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    @media screen and (min-width: 1440px) {
      margin-top: 30px;
    }
  }

  &__grid {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__subtitle {
    margin-top: 1vw;
    color: #000;
    font-family: 'DM Sans';
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media screen and (min-width: 1440px) {
      margin-top: 30px;
    }
  }
  &__inner {
    margin-top: 0.7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: 1440px) {
      margin-top: 10px;
    }
    span {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  &__user-img {
    display: block;
    width: 1.7vw;
    height: 1.7vw;
    border-radius: 50%;
    @media screen and (min-width: 1440px) {
      width: 28px;
      height: 28px;
    }
  }
  &__text {
    display: flex;
    color: #000;
    font-family: 'DM Sans';
    font-size: 1vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @media screen and (min-width: 1440px) {
      font-size: 14px;
    }
  }
  &__button {
    padding: 0.5vw 1vw;
    font-family: 'DM Sans';
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media screen and (min-width: 1440px) {
      padding: 10px 20px;
      font-size: 11px;
    }
  }
}

.collections-big {
  width: 18.403vw;
  height: 18.889vw;
  border-radius: 11.001px;
  overflow: hidden;
  @media screen and (min-width: 1440px) {
    width: 265px;
    height: 272px;
  }
  &__wrapper {
    display: block;
    width: 18.403vw;
    height: 18.889vw;
  }
  &__slide {
    width: 18.403vw;
    height: 18.889vw;
    border-radius: 11.001px;
    overflow: hidden;
    .image {
      img {
        height: 100%;
      }
    }
  }
}
.collections-small {
  width: 7.153vw;
  height: 18.889vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 1440px) {
    width: 103px;
    height: 272px;
  }
  &__wrapper {
    width: 7.153vw;
    height: 18.889vw;
    border-radius: 11.001px;
    @media screen and (min-width: 1440px) {
      width: 103px;
      height: 272px;
    }
  }
  &__slide {
    height: calc((100% - 32px)/3);
    border-radius: 11.001px;
    overflow: hidden;
  }
}
.collections-small__slide {
  &::after {
    position: absolute;
    top: 0;
    left: -100%;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(61, 0, 183, 0.5);
  }
  &.swiper-slide-thumb-active {
    &::after {
      transition: transform 4000ms linear;
      transform: translateX(100%);
    }
  }
}