.collections {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__title {
    color: #000;
    font-family: 'Archivo Black';
    font-size: 1.944vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media screen and (min-width: 1440px) {
      font-size: 28px;
    }
  }

  &__list {
    margin-top: 2vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    @media screen and (min-width: 1440px) {
      margin-top: 30px;
    }
  }

  &__item {
    width: calc((100% - 40px)/3);
  }

  &__subtitle {
    margin-top: 1vw;
    color: #000;
    font-family: 'DM Sans';
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media screen and (min-width: 1440px) {
      margin-top: 30px;
    }
  }
  &__inner {
    margin-top: 0.7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 23vw;
    @media screen and (min-width: 1440px) {
      margin-top: 10px;
      width: 350px;
    }
    span {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  &__user-img {
    display: block;
    width: 1.7vw;
    height: 1.7vw;
    border-radius: 50%;
    @media screen and (min-width: 1440px) {
      width: 28px;
      height: 28px;
    }
  }
  &__text {
    color: #000;
    font-family: 'DM Sans';
    font-size: 1vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @media screen and (min-width: 1440px) {
      font-size: 14px;
    }
  }
  &__button {
    padding: 0.5vw 1vw;
    font-family: 'DM Sans';
    font-size: 0.8vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media screen and (min-width: 1440px) {
      padding: 10px 20px;
      font-size: 11px;
    }
  }
}

.collections__grid {
  display: grid;
  
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  
  gap: 10px;
  width: 23vw;
  height: 23vw;
  @media screen and (min-width: 1440px) {
    width: 350px;
    height: 350px;
  }

  .big {
    grid-row-start: 1;
    grid-column-start: 1;
    
    grid-row-end: 3;
    grid-column-end: 3;
    border-radius: 11.001px;
    overflow: hidden;
  }
  .small-first {
    grid-row-start: 1;
    grid-column-start: 3;
    
    grid-row-end: 2;
    grid-column-end: 4;
    border-radius: 11.001px;
    overflow: hidden;
  }

  .small-second {
    grid-row-start: 2;
    grid-column-start: 3;
    
    grid-row-end: 3;
    grid-column-end: 4;
    border-radius: 11.001px;
    overflow: hidden;
  }

  .small-third {
    grid-row-start: 3;
    grid-column-start: 3;
    
    grid-row-end: 4;
    grid-column-end: 4;
    border-radius: 11.001px;
    overflow: hidden;
  }
  .small-quarter {
    grid-row-start: 3;
    grid-column-start: 2;
    
    grid-row-end: 4;
    grid-column-end: 3;
    border-radius: 11.001px;
    overflow: hidden;
  }
  .small-fifth {
    grid-row-start: 3;
    grid-column-start: 1;
    
    grid-row-end: 4;
    grid-column-end: 2;
    border-radius: 11.001px;
    overflow: hidden;
  }
}