.footer {
  &__wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    @media screen and (min-width: 760px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1000px) {
      flex-wrap: nowrap;
    }
  }
}
.social {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 333px;
  &__title {
    font-family: var(--title-font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    // color: var(--title-text-color);
  }
  &__text {
    // color: var(--primary-text-color);
    font-family: var(--text-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 22.4px */
  }
}
.footer-links {
  display: flex;
  gap: 32px;
  @media screen and (min-width: 760px) {
    gap: 80px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__item {
    transition: opacity var(--transition-property);
    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
  &__link {
    // color: #3D3D3D;
    font-family: var(--text-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
   
  }
}
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 362px;
  &__title {
    // color: var(--title-text-color);
    font-family: var(--text-font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }
  &__text {
    // color: #363639;
    font-family: var(--text-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 22.4px */
  }
}

.footer-subscribe {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
    width: 300px;
    height: 50px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
    border-radius: 60px;
    overflow: hidden;
    @media screen and (min-width: 760px) {
      width: 360px;
    }
  }

  &__subscription {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__subscription &__add-email {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
  }

  &__subscription &__submit-email {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 2px);
    width: 100px;
    border: none;
    border-radius: 60px;
    outline: none;
    margin: 1px;
    padding: 0 20px;
    cursor: pointer;
    background: var(--accent-color);
    transition: width .35s ease-in-out,
      background .35s ease-in-out;
    color: var(--text-color-dark);
    font-family: var(--text-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.79px;
    @media screen and (min-width: 1440px) {
      top: 0.5px;
    }
  }

  &__subscription.done &__submit-email {
    width: calc(100% - 2px);
    background: var(--accent-color);
  }

  &__subscription &__submit-email &__before-submit,
  &__subscription &__submit-email &__after-submit {
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 38px;
    transition: visibility .35s ease-in-out,
      opacity .35s ease-in-out;
  }

  &__subscription.done &__submit-email &__before-submit,
  &__subscription:not(.done) &__submit-email &__after-submit {
    visibility: hidden;
    opacity: 0;
  }

  &__subscription &__submit-email &__after-submit {
    transition-delay: .35s;
  }

  &__subscription:not(.done) &__submit-email &__before-submit,
  &__subscription.done &__submit-email &__after-submit {
    visibility: visible;
    opacity: 1;
  }
}

