// ============================================== HEADER =================================================
.header{
  &__wrapper {
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.logo-link {
  color: #3D00B7;
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-nav {
  &__list {
    display: flex;
    gap: 47px;
    align-items: center;
  }
  &__item {
    position: relative;
    transition: all 250ms ease-in-out;
  
    &:hover,
    &:focus {
      opacity: 0.5;
    }
    a {
      color: #000;
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.64px;
      
    }
  }
}
.search-form {
    position: relative;
  &__input {
    display: flex;
    align-items: center;
    width: 300px;
    height: 50px;
    border-radius: 100px;
    border: 2px solid #EFEFEF;
    outline: none;
    background: #FFF;
    padding: 0px 30px;
    &::placeholder {
        color: #C0C0C0;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.64px;
    }
  }
  &__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 12px;

  }
}
.header-button {
  &__list {
    display: flex;
    gap: 20px;
  }
  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 60px;
    border: 2px solid #3D00B7;

    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 14px */
    letter-spacing: 0.56px;

    cursor: pointer;
    transition: all 250ms ease-in-out;
    
    &.upload {
      padding: 18px 40px;
      background: #3D00B7;
      color: #FFF;
      &:hover {
      background-color: #FFF;
      color: #3D00B7;
      }
    }
    &.wallet {
      padding: 18px 22px;
      background: none;
      color: #3D00B7;
      &:hover {
        background-color: #3D00B7;
        color: #FFF;
        }
    }
  }
}
// ============================================== HEADER =================================================