// ============================================== HEADER =================================================
.header{ 
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  border-bottom: 1px solid #EFEFEF;
  background-color: #FFF;
  &__wrapper {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.logo-link {
  color: #3D00B7;
  font-family: 'Archivo Black';
  font-size: 1.667vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}
.header-nav {
  display: none;
  &__list {
    display: flex;
    gap: 47px;
    align-items: center;
  }
  &__item {
    position: relative;
    transition: all 250ms ease-in-out;
  
    &:hover,
    &:focus {
      opacity: 0.5;
    }
    a {
      color: #000;
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.64px;
      
    }
  }
}
.search-form {
    position: relative;
    width: 300px;
    transition: all 300ms ease-in-out;
    pointer-events: none;
    &.active {
      width: 50%;
    }
  &__input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.472vw;
    border-radius: 100px;
    border: 2px solid #EFEFEF;
    outline: none;
    background: #FFF;
    padding: 0px 45px 0px 20px;
    transition: all 300ms ease-in-out;
    pointer-events: auto;
    @media screen and (min-width: 1440px) {
      height: 50px;
    }
    &::placeholder {
        color: #C0C0C0;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.64px;
    }
    &:hover,
    &:focus,
    &:active {
      border: 1px solid #3d00b7;
    }
  }
  &__icon {
    width: 1.667vw;
    height: 1.667vw;
    position: absolute;
    right: 1.389vw;
    top: 0.833vw;
    @media screen and (min-width: 1440px) {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 20px;
      top: 12px;
    }

  }
}
.header-button {
  &__list {
    display: flex;
    gap: 20px;
  }
  &__btn {
    font-family: 'DM Sans';
    font-size: 0.972vw;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 14px */
    letter-spacing: 0.56px;

    cursor: pointer;
    @media screen and (min-width: 1440px) {
      font-size: 14px;
    }
    
    &.upload {
      padding: 1.250vw 2.778vw;
      @media screen and (min-width: 1440px) {
        padding: 18px 40px;
      }
    }
    &.wallet {
      position: relative;
      padding: 1.250vw 1.528vw;
      display: flex;
      flex-direction: column;
      background: none;
      border-radius: 60px;
      border: 1px solid #3D00B7;
      color: #3D00B7;
      overflow: hidden;
      transition: 
        all 450ms ease-in-out,
        transform 450ms ease-in-out;
      @media screen and (min-width: 1440px) {
        padding: 18px 22px;
      }
      span {
        transition: 
        background 450ms ease-in-out,
        transform 450ms ease-in-out;
      }
      &::after {
        content: 'Connect';
        color: #FFF;
        position: absolute;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, 250%);
        transition: 
          background 450ms ease-in-out,
          color 450ms ease-in-out,
          transform 450ms ease-in-out;

        font-family: 'DM Sans';
        font-size: 0.972vw;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        /* 14px */
        letter-spacing: 0.56px;
        @media screen and (min-width: 1440px) {
          font-size: 14px;
        }
      }
      &:hover {
        background-color: #3D00B7;
        // color: #FFF;
        & span {
          transform: translateY(-50px);
        }
        &::after {
          color: #FFF;
          transform: translate(-50%, -50%);
        }
      }
        &:focus {
          outline: 0;
        }
  
        &:active {
          opacity: 0.5;
        }
    }
  }
}
// ============================================== HEADER =================================================