// ============================================== HEADER =================================================
.header {
    &__wrapper {
        position: relative;
        padding-top: 27px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

  
}
.navigation {
    &__button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        transition: var(--transition-property);
        &:hover {
            opacity: 0.6;
        }
    }
    &__icon {
        width: 17px;
        height: 10px;
        fill: var(--primary-color-light);
        @media screen and (min-width: 1440px) {
            width: 41px;
            height: 23px;
        }
    }
    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 65vw;
        height: 100vh;
        background-color: var(--primary-bg);

        padding: 48px 40px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border-right: 1px solid var(--primary-color-dark);

        transform: translateX(-200%);
        transition: transform 450ms ease-in-out;

        z-index: 4;
        @media screen and (min-width: 1440px) {
            width: 35vw;
        }
    }

    &__close-button {
        position: absolute;
        top: 10px;
        right: 15px;
        border: 0;
        background-color: transparent;
        padding: 0;
    }

    &__close-icon {
        border: 0;
        width: 40px;
        height: 40px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__item {
        position: relative;
    }

    &__link {
        margin-left: 20px;
        @include mobile-font-title;
        color: var(--text-color-dark);
        @media screen and (min-width: 1440px) {
            margin-left: 80px;
            @include font-title;
        }
    }
    &__sublist {
        display: none;
        position: absolute;
        top: 90%;
        right: 50px;
        border-top: 1px solid var(--primary-color-dark);
        cursor: pointer;
        @media screen and (min-width: 1440px) {
            padding-left: 100px;
        }
        
        .navigation__item:hover & {
            @media screen and (min-width: 1440px) {
                display: block;
                z-index: 5;
            }
        }
    }
    &__subitem {
        border-bottom: 1px solid var(--primary-color-dark)
    }
    &__text {
        @include mobile-font-text;
        @media screen and (min-width: 1440px) {
            @include font-text;
        }
    }
}
.is-open {
    transform: translateX(0);
}
.logo-link {
    margin: auto;
    display: block;
    width: 62px;
    height: 28px;
    
    @media screen and (min-width: 1440px) {
        width: 132px;
        height: 59px;
    }
    &__img {
        width: 100%;
    }
}
.user-order {
    display: flex;
    flex-direction: row;
    gap: 10px;
    @media screen and (min-width: 1440px) {
        gap: 25px;
    }
    &__item {
        transition: var(--transition-property);
        &:hover {
            opacity: 0.5;
        }
    }
    &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include mobile-font-subtitle;
        color: var(--text-color-light);

        @media screen and (min-width: 1440px) {
            @include font-subtitle;
        }
        span {
            opacity: 0.7;
        }
    }
    &__icon {
        width: 17px;
        height: 17px;
        fill: var(--primary-color-light);
        @media screen and (min-width: 1440px) {
            width: 25px;
            height: 25px;
        }
    }
}









// ============================================== HEADER =================================================