// ============================================== HEADER =================================================
.header{ 
  border-bottom: 1px solid #EFEFEF;
  background-color: var(--primary-bg);
  @media screen and (min-width: 760px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  
  &__wrapper {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.logo-link {
  color: var(--accent-color);
  font-family: var(--title-font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @media screen and (min-width: 760px) {
    font-size: 1.667vw;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}
.header-nav {
  display: none;
  &__list {
    display: flex;
    gap: 47px;
    align-items: center;
  }
  &__item {
    position: relative;
    transition: all 250ms ease-in-out;
  
    &:hover,
    &:focus {
      opacity: 0.5;
    }
    a {
      color: #000;
      font-family: 'DM Sans';
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.64px;
      
    }
  }
}
.search-form {
    position: relative;
    width: 120px;
    transition: width 300ms ease-in-out,
      transform 300ms ease-in-out;
    pointer-events: none;
    cursor: pointer;
    @media screen and (min-width: 760px) {
      width: 300px;
    }
    &.active {
      width: 70%;
      @media screen and (min-width: 760px) {
        width: 50%;
      }
      
    }
  &__input {
    padding: 5px 35px 5px 15px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    border-radius: 100px;
    border: 2px solid #EFEFEF;
    outline: none;
    background: var(--primary-bg);
    transition: width 300ms ease-in-out;
    pointer-events: auto;
    @media screen and (min-width: 760px) {
      padding: 0px 45px 0px 20px;
      width: 100%;
      height: 3.472vw;
    }
    @media screen and (min-width: 1440px) {
      height: 50px;
    }
    &::placeholder {
      color: #C0C0C0;
      font-family: var(--text-font-family);
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.64px;
      @media screen and (min-width: 760px) {
        font-size: 16px;
      }
    }
    &:hover,
    &:focus,
    &:active {
      border: 1px solid var(--accent-color);
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (min-width: 760px) {
      width: 1.667vw;
      height: 1.667vw;
      position: absolute;
      right: 1.389vw;
    }
    @media screen and (min-width: 1440px) {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 20px;
    }

  }
}
.header-button {
  display: none;
    @media screen and (min-width: 760px) {
      display: block;
    }
  &__list {
    display: flex;
    gap: 20px;    
  }
  &__item {
    position: relative;
  }
  &__btn {
    font-family: var(--text-font-family);
    font-size: 0.972vw;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    height: 4vw;
    // height: 30px;
    /* 14px */
    letter-spacing: 0.56px;

    cursor: pointer;
    @media screen and (min-width: 1440px) {
      font-size: 14px;
      height: 56px;
    }
    
    &.upload {
      padding: 1.250vw 2.778vw;
      @media screen and (min-width: 1440px) {
        padding: 18px 40px;
      }
    }
    &.wallet-btn {
      position: relative;
      padding: 1.250vw 1.528vw;
      width: 12vw;
      display: flex;
      flex-direction: column;
      background: none;
      border-radius: 60px;
      border: 1px solid var(--accent-color);
      color: var(--accent-color);
      overflow: hidden;
      transition: 
        all 450ms ease-in-out,
        transform 450ms ease-in-out;
      @media screen and (min-width: 1440px) {
        padding: 18px 22px;
        width: 150px;
      }
      span {
        width: max-content;
        transition: 
        background 450ms ease-in-out,
        transform 450ms ease-in-out;
      }
      
      &.active {
        background-color: var(--accent-color);
      }
    }
  }
}
.wallet-btn {
  &__first {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.active {
      transform: translate(150%, -50%);
    }
  }

  &__second {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-250%, -50%);
    color: #fff;
    &.active {
      transform: translate(-50%, -50%);
    }
  }
}

.wallet {
  position: fixed;
  top: 70px;
  right: 5px;
  pointer-events: none;
  z-index: 3;
  @media screen and (min-width: 1440px) {
    position: absolute;
    top: 110%;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  
 
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    border: 2px solid var(--accent-color);
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--primary-bg);
    transform: scale(0);
    transform-origin: right top;
    transition: transform var(--transition-property);
    pointer-events: none;
    @media screen and (min-width: 1440px) {
      transform-origin: top;
    }
    &.open {
      transform: scale(1);
      pointer-events: auto;
    }
  }
  &__title-wrapper {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(217, 224, 236, .2);
  }
  &__title {
    font-family: var(--title-font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.1em;
  }
  &__btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    background-color: transparent;
    fill: #000;
    width: 30px;
    height: 30px;
    background-image: url('../images/icon-close-dark.svg');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    transition: background-color var(--transition-property),
      border var(--transition-property);
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: rgba(61, 0, 183, 0.6);
    }
  }
  &__list {
    margin: 0px 20px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px;
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
  }
  &__item {
    width: 100px;
    border-radius: 10px;
    overflow: hidden;
  }
  &__link {
    display: block;

  }
  &__button-wrapper {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  &__text {
    color: var(--accent-color);
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &__btn {
    padding: 10px 15px;
  }
}
// ============================================== HEADER =================================================