// ============================================== HEADER =================================================
.header{
  &__wrapper {
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.logo-link {
  color: #3D00B7;
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-nav {
  &__list {
    display: flex;
    gap: 47px;
    align-items: center;
  }
  &__item {
    color: #000;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.64px;
  }
}
.search-form {
    position: relative;
  &__input {
    display: flex;
    align-items: center;
    width: 300px;
    height: 50px;
    border-radius: 100px;
    border: 2px solid #EFEFEF;
    outline: none;
    background: #FFF;
    padding: 0px 30px;
    &::placeholder {
        color: #C0C0C0;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.64px;
    }
  }
  &__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 12px;

  }
}
// ============================================== HEADER =================================================