// ========================================== HERO =======================================
.hero {
  &__wrapper {
    padding: 15px 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 24px;
    @media screen and (min-width: 760px) {
      padding: 4vw 0px;
      flex-direction: row;
      justify-content: space-around;
      gap: 0;
    }
    @media screen and (min-width: 1440px) {
      padding: 55px 0px;
    }
  }
}
.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  @media screen and (min-width: 760px) {
    width: 42.500vw;
    align-items: flex-start;
    gap: 0;
  }
  @media screen and (min-width: 1440px) {
    width: 612px;
  }

  &__title {
    color: #000;
    font-family: 'Archivo Black';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    @media screen and (min-width: 760px) {
      font-size: 2vw;
    }
    @media screen and (min-width: 1440px) {
      font-size: 30px;
    }
  }
  &__text {
    margin-top: 22px;
    color: #565656;
    font-family: 'DM Sans';
  
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    @media screen and (min-width: 760px) {
      font-size: 1.4vw;
    }
    @media screen and (min-width: 1440px) {
      font-size: 20px;
    }
  }
  &__btn {
    margin-top: 10px;
    padding: 10px 15px;
    font-family: 'Poppins';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media screen and (min-width: 760px) {
      margin-top: 1vw;
      padding: 1.389vw 2.778vw;
      font-size: 1.389vw;
    }
    @media screen and (min-width: 1440px) {
      margin-top: 41px;
      padding: 20px 40px;
      font-size: 20px;
      letter-spacing: 1.3px;
    }

  }
  &__list {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 23px;
    width: 100%;
    @media screen and (min-width: 760px) {
      justify-content: flex-start;
      margin-top: 1.083vw;
      width: max-content;
    }
    @media screen and (min-width: 1440px) {
      margin-top: 30px;
    }
  }
  &__item {
    width: calc((100% - 20px)/3);
    @media screen and (min-width: 760px) {
      width: 7.292vw;
    }
    @media screen and (min-width: 1440px) {
      width: 105px;
    }

    .title {
      color: #000;
      font-family: 'Archivo Black';
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2px;
      @media screen and (min-width: 760px) {
        font-size: 2vw;
      }
      @media screen and (min-width: 1440px) {
        font-size: 30px;
      }
    }
    .text {
      color: #565656;
      font-family: 'DM Sans';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      /* 32px */
      @media screen and (min-width: 760px) {
        font-size: 1.4vw;
      }
      @media screen and (min-width: 1440px) {
        font-size: 20px;
      }
    }
    
  }
}
// ====================================================
.live {
  width: 60vw;
  height: 60vw;
  @media screen and (min-width: 760px) {
    width: 20.306vw;
    height: 20.083vw;
  }
  @media screen and (min-width: 1440px) {
    width: 350px;
    height: 390px;
  }
  // &__wrapper {
  //   width: 20.306vw;
  //   height: 20.083vw;
  
  //   @media screen and (min-width: 1440px) {
  //     width: 350px;
  //     height: 390px;
  //   }
  // }
  &__grid {
    position: absolute;
    border-radius: 12px;
    overflow: hidden;
    @media screen and (min-width: 760px) {
      border-radius: 12px;
    }
    @media screen and (min-width: 1440px) {
      border-radius: 24px;
    }
    .image {
      display: block;
      width: 100%;
    }
  }
  &__row {
    position: absolute;
    top: 26px;
    left: 26px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
  }
  &__title {
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.4px;
    @media screen and (min-width: 760px) {
      font-size: 1.5vw;
    }
    @media screen and (min-width: 1440px) {
      font-size: 28px;
    }
  }
}
.user {
  &__row {
    display: flex;
    align-items: center;
    gap: 5px;
    @media screen and (min-width: 760px) {
      gap: 0.5vw;
    }
    @media screen and (min-width: 1440px) {
      gap: 15px;
    }
  }
  &__image {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    @media screen and (min-width: 760px) {
      width: 1.6vw;
      height: 1.6vw;
    }
    @media screen and (min-width: 1440px) {
      width: 33px;
      height: 33px;
    }
  }
  &__text {
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media screen and (min-width: 760px) {
      font-size: 1.1vw;
    }
    @media screen and (min-width: 1440px) {
      font-size: 20px;
    }
  }
}
.price {
  position: absolute;
  left: 5vw;
  bottom: 4vw;
  padding: 0.972vw 1.806vw;
  display: flex;
  align-items: center;
  width: 50vw;
  height: 14vw;
  border-radius: 6px;
  background: rgba(137, 137, 137, 0.2);
  backdrop-filter: blur(25px);
  @media screen and (min-width: 760px) {
    left: 1.3vw;
    bottom: 1.3vw;
    padding: 0.972vw 1.806vw;
    width: 18vw;
    height: 4.8vw;
    border-radius: 12px;
  }
  @media screen and (min-width: 1440px) {
    left: 26px;
    bottom: 24px;
    padding: 14px 26px;
    width: 300px;
    height: 73.846px;
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 7px;
    span {
      position: relative;
      width: 70px;
      @media screen and (min-width: 760px) {
        width: 7.639vw;
      }
      @media screen and (min-width: 1440px) {
        width: 110px;
      }
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  &__text {
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @media screen and (min-width: 760px) {
      font-size: 0.833vw;
    }
    @media screen and (min-width: 1440px) {
      font-size: 12px;
    }
  }
  &__icon {
    width: 8px;
    height: 14px;
    @media screen and (min-width: 760px) {
      width: 0.903vw;
      height: 1.458vw;
    }
    @media screen and (min-width: 1440px) {
      width: 13px;
      height: 21px;
    }
  }
  &__eth {
    top: 0;
    left: 0;
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media screen and (min-width: 760px) {
      font-size: 1.111vw;
    }
    @media screen and (min-width: 1440px) {
      font-size: 16px;
    }
    &.timer {
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
}
.auction-logo {
  position: absolute;
  top: 32vw;
  left: -15vw;
  z-index: 4;
  display: block;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  animation: spin 30000ms linear infinite;

  @media screen and (min-width: 760px) {
    top: 12vw;
    left: -4vw;
    width: 7vw;
    height: 7vw;
  }

  @media screen and (min-width: 1440px) {
    top: 250px;
    left: -90px;
    width: 140px;
    height: 140px;
  }

}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
// ================================ hero-advantage ===========================================
.hero-advantage {
  display: flex;
  position: relative;
  padding: 5px;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  @media screen and (min-width: 760px) {
    padding: 20px;
    flex-direction: row;
    gap: 10vw;
  }
  @media screen and (min-width: 1440px) {
    gap: 56px;
  }

  
  
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    // width: 100%;
    height: 100%;
    background: rgba(217, 224, 236, 0.20);
    @media screen and (min-width: 760px) {
      width: 98vw;
    }
  }

  &__title {
    width: 100%;
    color: #000;
    font-family: 'Archivo Black';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    opacity: 0;
    transform: translateX(-30%);
    transition: transform 1500ms ease, opacity 1500ms ease;
    @media screen and (min-width: 760px) {
      width: 27.639vw;
      font-size: 1.944vw;
    }
    @media screen and (min-width: 1440px) {
      width: 398px;
      font-size: 28px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    @media screen and (min-width: 760px) {
      flex-direction: row;
      align-items: flex-start;
      gap: 56px;
      width: max-content;
    }
  }
  &__item {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: 100%;
    @media screen and (min-width: 760px) {
      padding: 0;
      width: calc((100% - 56px)/ 2);
    }

    .title {
      color: #000;
      font-family: 'DM Sans';
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media screen and (min-width: 760px) {
        font-size: 1.389vw;
      }
      @media screen and (min-width: 1440px) {
        font-size: 20px;
      }
    }
    .text {
      color: #696969;
      font-family: 'DM Sans';
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      /* 22.4px */
      @media screen and (min-width: 760px) {
        width: 24vw;
        font-size: 0.972vw;
      }
      @media screen and (min-width: 1440px) {
        width: 249px;
        font-size: 14px;
      }
    }
    .icon {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 20px;
      height: 20px;
      @media screen and (min-width: 760px) {
        top: 0px;
        left: -3.542vw;
        width: 2.5vw;
        height: 2.5vw;
      }
      @media screen and (min-width: 1440px) {
        left: -51px;
        width: 36px;
        height: 36px;
      }
    }
  }
}
// ========================================== HERO END =======================================
