// ========================================== HERO =======================================
.hero {
  &__wrapper {
    padding-top: 57px;
    padding-bottom: 122px;
    display: flex;
    justify-content: space-between;
  }
}
.explore {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 612px;
  &__title {
    color: #000;
    font-family: 'Roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2px;
  }
  &__text {
    margin-top: 22px;
    color: #565656;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  &__btn {
    margin-top: 41px;
    display: inline-flex;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: #3D00B7;
    border: 1px solid #3D00B7;

    color: #FFF;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;

    cursor: pointer;
  }
  &__list {
    margin-top: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
  }
  &__item {
    .title {
      color: #000;
      font-family: 'Roboto';
      font-size: 40px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 2px;
    }
    .text {
      color: #565656;
      font-family: DM Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      /* 32px */
    }
    
  }
}

.live {
  width: 400px;
    height: 440px;
  &__wrapper {
    // position: relative;
    width: 400px;
    height: 440px;
  }
  &__grid {
    
    position: absolute;
    width: 400px;
    height: 440px;
    border-radius: 24px;
    overflow: hidden;

  
    .image {
      display: block;
      width: 100%;
    }
  }
  &__row {
    position: absolute;
    top: 26px;
    left: 26px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
  }
  &__title {
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.4px;
  }
}
// .slide-1 {
//   top: 0;
//   left: 0;
// }
// .slide-2 {
//   top: 20;
//   left: 20;
// }
// .slide-3 {
//   top: 40;
//   left: 40;
// }

.user {
  &__row {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__image {
    width: 32px;
    height: 32.821px;
    flex-shrink: 0;
    border-radius: 32.821px;
    overflow: hidden;
  }
  &__text {
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.price {
  position: absolute;
  left: 26px;
  bottom: 24px;
  padding: 14px 26px;
  width: 348px;
  height: 73.846px;
  flex-shrink: 0;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(25px);
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 7px;
    span {
      position: relative;
      width: 110px;
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  &__text {
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &__icon {
    width: 13px;
    height: 21px;
  }
  &__eth {
    top: 0;
    left: 0;
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &.timer {
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
}

// ========================================== HERO END =======================================