// ========================================== HERO =======================================
.hero {
  &__wrapper {
    padding: 35px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 612px;

  &__title {
    color: #000;
    font-family: 'Roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2px;
  }

  &__text {
    margin-top: 22px;
    color: #565656;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  &__btn {
    margin-top: 41px;
    padding: 20px 40px;


    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.3px;
  }

  &__list {
    margin-top: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
  }

  &__item {
    width: 105px;

    .title {
      color: #000;
      font-family: 'Roboto';
      font-size: 40px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 2px;
    }

    .text {
      color: #565656;
      font-family: DM Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      /* 32px */
    }

  }
}

.live {
  width: 350px;
  height: 390px;

  &__wrapper {
    // position: relative;
    width: 350px;
    height: 390px;
  }

  &__grid {

    position: absolute;
    width: 350px;
    height: 390px;
    border-radius: 24px;
    overflow: hidden;

    .image {
      display: block;
      width: 100%;
    }
  }

  &__row {
    position: absolute;
    top: 26px;
    left: 26px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
  }

  &__title {
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.4px;
  }
}

.auction-logo {
  position: absolute;
  top: 250px;
  left: -90px;
  z-index: 4;
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  animation: spin 30000ms linear infinite;

}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.user {
  &__row {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__image {
    width: 33px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
  }

  &__text {
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.price {
  position: absolute;
  left: 26px;
  bottom: 24px;
  padding: 14px 26px;
  width: 300px;
  height: 73.846px;
  flex-shrink: 0;
  border-radius: 12px;
  background: rgba(137, 137, 137, 0.2);
  backdrop-filter: blur(25px);

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 7px;

    span {
      position: relative;
      width: 110px;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__text {
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__icon {
    width: 13px;
    height: 21px;
  }

  &__eth {
    top: 0;
    left: 0;
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &.timer {
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
}

// ================================ hero-advantage ===========================================
.hero-advantage {
  position: relative;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 98vw;
    height: 100%;
    background: rgba(217, 224, 236, 0.20);
    // backdrop-filter: blur(25px);

  }

  &__title {
    width: 398px;

    color: #000;
    font-family: 'Roboto';
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;

    opacity: 0;
    transform: translateX(-30%);
    transition: transform 1500ms ease, opacity 1500ms ease;
  }

  &__list {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    gap: 56px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: calc((100% - 56px)/ 2);

    .title {
      color: #000;
      font-family: 'DM Sans';
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .text {
      width: 249px;
      color: #696969;
      font-family: 'DM Sans';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      /* 22.4px */
    }

    .icon {
      position: absolute;
      top: 0px;
      left: -51px;
      width: 36px;
      height: 36px;
    }
  }
}

// ========================================== HERO END =======================================