// ========================================== HERO =======================================
.hero {
  &__wrapper {
    padding: 2.083vw 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen and (min-width: 1440px) {
      padding: 35px 0px;
    }
  }
}
.explore {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 42.500vw;
  @media screen and (min-width: 1440px) {
    width: 612px;
  }

  &__title {
    color: #000;
    font-family: 'Archivo Black';
    // font-size: 2.7vw;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    @media screen and (min-width: 1440px) {
      // font-size: 40px;
      font-size: 30px;
    }
  }
  &__text {
    margin-top: 22px;
    color: #565656;
    font-family: 'DM Sans';
    // font-size: 1.7vw;
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    @media screen and (min-width: 1440px) {
      // font-size: 25px;
      font-size: 20px;
    }
  }
  &__btn {
    // display: none;
    margin-top: 1vw;
    padding: 1.389vw 2.778vw;
    font-family: 'Poppins';
    font-size: 1.389vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media screen and (min-width: 1440px) {
      margin-top: 41px;
      padding: 20px 40px;
      font-size: 20px;
      letter-spacing: 1.3px;
    }

  }
  &__list {
    margin-top: 1.083vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
    @media screen and (min-width: 1440px) {
      margin-top: 30px;
    }
  }
  &__item {
    width: 7.292vw;
    @media screen and (min-width: 1440px) {
      width: 105px;
    }

    .title {
      color: #000;
      font-family: 'Archivo Black';
      // font-size: 2.7vw;
      font-size: 2vw;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2px;
      @media screen and (min-width: 1440px) {
        // font-size: 40px;
        font-size: 30px;
      }
    }
    .text {
      color: #565656;
      font-family: 'DM Sans';
      font-size: 1.4vw;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      /* 32px */
      @media screen and (min-width: 1440px) {
        font-size: 20px;
      }
    }
    
  }
}
// ====================================================
.live {
  // width: 24.306vw;
  // height: 27.083vw;
  width: 20.306vw;
  height: 20.083vw;
  @media screen and (min-width: 1440px) {
    width: 350px;
    height: 390px;
  }
  &__wrapper {
    // width: 24.306vw;
    // height: 27.083vw;
    width: 20.306vw;
    height: 20.083vw;
  
    @media screen and (min-width: 1440px) {
      width: 350px;
      height: 390px;
    }
  }
  &__grid {
    position: absolute;
    border-radius: 24px;
    overflow: hidden;
  
    .image {
      display: block;
      width: 100%;
    }
  }
  &__row {
    position: absolute;
    top: 26px;
    left: 26px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
  }
  &__title {
    color: #FFF;
    font-family: 'DM Sans';
    // font-size: 1.944vw;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.4px;
    @media screen and (min-width: 1440px) {
      font-size: 28px;
    }
  }
}
.auction-logo {
  position: absolute;
  // top: 17.361vw;
  // left: -6.250vw;
  top: 12vw;
  left: -4vw;
  z-index: 4;
  display: block;
  // width: 9.722vw;
  // height: 9.722vw;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  animation: spin 30000ms linear infinite;
  @media screen and (min-width: 1440px) {
    top: 250px;
    left: -90px;
    width: 140px;
    height: 140px;
  }

}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.user {
  &__row {
    display: flex;
    align-items: center;
    // gap: 1.042vw;
    gap: 0.5vw;
    @media screen and (min-width: 1440px) {
      gap: 15px;
    }
  }
  &__image {
    // width: 2.292vw;
    // height: 2.292vw;
    width: 1.6vw;
    height: 1.6vw;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    @media screen and (min-width: 1440px) {
      width: 33px;
      height: 33px;
    }
  }
  &__text {
    color: #FFF;
    font-family: 'DM Sans';
    // font-size: 1.389vw;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media screen and (min-width: 1440px) {
      font-size: 20px;
    }
  }
}
.price {
  position: absolute;
  // left: 1.806vw;
  // bottom: 1.667vw;
  // padding: 0.972vw 1.806vw;
  // width: 20.833vw;
  // height: 5.125vw;
  left: 1.3vw;
  bottom: 1.3vw;
  padding: 0.972vw 1.806vw;
  width: 18vw;
  height: 4.8vw;
  border-radius: 12px;
  background: rgba(137, 137, 137, 0.2);
  backdrop-filter: blur(25px);
  @media screen and (min-width: 1440px) {
    left: 26px;
    bottom: 24px;
    padding: 14px 26px;
    width: 300px;
    height: 73.846px;
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 7px;
    span {
      position: relative;
      width: 7.639vw;
      @media screen and (min-width: 1440px) {
        width: 110px;
      }
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  &__text {
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 0.833vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @media screen and (min-width: 1440px) {
      font-size: 12px;
    }
  }
  &__icon {
    width: 0.903vw;
    height: 1.458vw;
    @media screen and (min-width: 1440px) {
      width: 13px;
      height: 21px;
    }
  }
  &__eth {
    top: 0;
    left: 0;
    color: #FFF;
    font-family: 'DM Sans';
    font-size: 1.111vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media screen and (min-width: 1440px) {
      font-size: 16px;
    }
    &.timer {
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
}
// ================================ hero-advantage ===========================================
.hero-advantage {
  position: relative;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  gap: 10vw;
  justify-content: space-around;
  align-items: center;
  @media screen and (min-width: 1440px) {
    gap: 56px;
  }

  
  
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 98vw;
    height: 100%;
    background: rgba(217, 224, 236, 0.20);

  }

  &__title {
    width: 27.639vw;
    color: #000;
    font-family: 'Archivo Black';
    font-size: 1.944vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    opacity: 0;
    transform: translateX(-30%);
    transition: transform 1500ms ease, opacity 1500ms ease;

    @media screen and (min-width: 1440px) {
      width: 398px;
      font-size: 28px;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    gap: 56px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: calc((100% - 56px)/ 2);

    .title {
      color: #000;
      font-family: 'DM Sans';
      font-size: 1.389vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media screen and (min-width: 1440px) {
        font-size: 20px;
      }
    }
    .text {
      // width: 17.292vw;
      width: 24vw;
      color: #696969;
      font-family: 'DM Sans';
      font-size: 0.972vw;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      /* 22.4px */
      @media screen and (min-width: 1440px) {
        width: 249px;
        font-size: 14px;
      }
    }
    .icon {
      position: absolute;
      top: 0px;
      left: -3.542vw;
      width: 2.5vw;
      height: 2.5vw;
      @media screen and (min-width: 1440px) {
        left: -51px;
        width: 36px;
        height: 36px;
      }
    }
  }
}
// ========================================== HERO END =======================================
