.nfts {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
}
.nfts-tag {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  &__btn {
    padding: 10px 20px;
    border-radius: 100px;
    background-color: rgba(220, 220, 220, 0.20);

    color: var(--text-color-dark);
    font-family: var(--text-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.452px;
    border: none;
    transition: color var(--transition-property),
     background-color var(--transition-property),
     opacity var(--transition-property);

    &.active {
      color: var(--text-color-light);
      background-color: #3D00B7;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}
.nfts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  &__item {
    transition: display var(--transition-property);
  }
}
.nft-icon {
  display: flex;
  flex-direction: column;
  width: 247.935px;
  gap: 16px;
  &__image {
    display: block;
    width: 247.935px;
    height: 222.703px;
    border-radius: 13px;
    overflow: hidden;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__name {
    color: var(--text-color-dark);
    font-family: var(--text-font-family);
    font-size: 19.747px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.146px;
    /* 96.955% */
  }
  &__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__price {
    color: #00AC4F;
    font-family: var(--text-font-family);
    font-size: 10.971px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__number {
    color: #838383;
    text-align: right;
    font-family: var(--text-font-family);
    font-size: 13.165px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.146px;
    /* 145.433% */
  }
  &__btn {
    padding: 10px 0px;
  }
}
.nfts-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  &__btn {
    padding: 10px 20px;
  }
  &__numbers {
    display: flex;
    gap: 16px;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 0.5px solid #000;
      background-color: none;
      color: var(--text-color-dark);
      cursor: pointer;
    }
    .active {
      background-color: var(--accent-color);
      color: var(--text-color-light);
      border: none;
      transition: color var(--transition-property),
        background-color var(--transition-property),
        opacity var(--transition-property);
    }
  }
}