.sign-up {
  padding: 25px;

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
    width: 100%;
  }
}
.example {
  width: 50%;
  height: 100%;
  @media screen and (min-width: 760px) {
    position: relative;
    width: 42vw;
    height: 42vw;
  }
  @media screen and (min-width: 1440px) {
    width: 606px;
    height: 606px;
  }
  &__list {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    @media screen and (min-width: 760px) {
      width: 42vw;
      height: 42vw;
    }
    @media screen and (min-width: 1440px) {
      width: 606px;
      height: 606px;
    }
  }
  &__item {
    position: static;
    opacity: 0;
    @media screen and (min-width: 760px) {
      position: absolute;
    }
    &.big {
      top: 0;
      left: 0;
      width: 30vw;
      height: 30vw;
      transform: translateX(-100px);
      @media screen and (min-width: 760px) {
        width: 20vw;
        height: 20vw;
      }
      @media screen and (min-width: 760px) {
        top: 0;
        left: 0;
      }
      @media screen and (min-width: 1440px) {
        width: 300px;
        height: 300px;
      }
      &.active{
        opacity: 1;
        transform: translateX(0);
        transition: opacity 1000ms ease-in-out, 
        transform 1000ms ease-in-out;
      }
    }
    &.medium {
      top: 9.5vw;
      right: 0;
      width: 30vw;
      height: 30vw;
      transform: translateX(100px);
      @media screen and (min-width: 760px) {
        width: 16vw;
        height: 16vw;
      }
      @media screen and (min-width: 1440px) {
        top: 138px;
        width: 240px;
        height: 240px;
      }
      &.active {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 1000ms ease-in-out,
        transform 1000ms ease-in-out;
      }
    }
    &.small {
      left: 7.292vw;
      bottom: 2.778vw;
      width: 30vw;
      height: 30vw;
      transform: translateY(100px);
      @media screen and (min-width: 760px) {
        width: 13vw;
        height: 13vw;
        }
      @media screen and (min-width: 1440px) {
        left: 105px;
        bottom: 40px;
        width: 190px;
        height: 190px;
      }
      &.active {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 1000ms ease-in-out,
        transform 1000ms ease-in-out;
        
      }
    }
  }
  &__inner {
    position: relative;
  }
  &__image {
    display: block;
    border-radius: 12px;
    overflow: hidden;
  }
  &__user-img {
    display: block;
    position: absolute;
    bottom: -1vw;
    right: -1vw;
    border-radius: 50%;
    border: 1px solid #FFF;
    overflow: hidden;
    width: 40px;
    height: 40px;
    @media screen and (min-width: 760px) {
      width: 4vw;
      height: 4vw;
    }
    @media screen and (min-width: 1440px) {
      width: 80px;
      height: 80px;
      bottom: -30px;
      right: -30px;
    }
  }
}
.sign-up-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2vw;
  @media screen and (min-width: 760px) {
    width: 35vw;
    align-items: flex-start;
  }
  @media screen and (min-width: 1440px) {
    width: 517px;
    gap: 32px;
  }
  &__title {
    // color: #000;
    font-family: "Archivo Black";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    @media screen and (min-width: 760px) {
      font-size: 2.222vw;
      text-align: start;
    }
    @media screen and (min-width: 1440px) {
      font-size: 32px;
    }
  }
  &__text {
    // color: #636363;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    @media screen and (min-width: 760px) {
      font-size: 1.250vw;
    }
    @media screen and (min-width: 1440px) {
      font-size: 18px;
    }
  }
  &__button {
    padding: 10px 15px;
    font-size: 16px;
    @media screen and (min-width: 760px) {
      padding: 1.3vw 2.6vw;
      font-size: 1.389vw;
    }
    @media screen and (min-width: 1440px) {
      padding: 20px 40px;
      font-size: 20px;
    }
  }
}