.top-collection {
  display: none;
  @media screen and (min-width: 768px) {
      display: block;
    }
  &__wrapper {
    padding-top: 2.083vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6vw;
    @media screen and (min-width: 1440px) {
      padding-top: 30px;
      align-items: center;
      gap: 50px;
    }
  }
}
// ========================== selected-content ===============================
.selected-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 23.778vw;
  gap: 2.222vw;
  
  @media screen and (min-width: 1440px) {
    width: 400px;
    gap: 32px;
  }
  .shadow {
    width: 24vw;
    height: 26vw;
    position: absolute;
    inset: 0;
    opacity: 0.8;
    filter: blur(2rem) saturate(0.9);
    background-color:rgba(0, 0, 0, 0.75);
    box-shadow: -15px 15px 3px 0px rgba(0, 0, 0, .75);

    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 2rem, -2rem);
    @media screen and (min-width: 1440px) {
        width: 400px;
        height: 424px;
      }
  }
  .image {
    display: block;
    width: 24vw;
    height: 26vw;
    border-radius: 24px;
    overflow: hidden;
    object-fit: cover;
    perspective: 50rem;

    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 0, 0rem);
    @media screen and (min-width: 1440px) {
      width: 400px;
      height: 424px;
    }
    img {
      height: 100%;
    }
  }
}

.info { 
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding: 10px;

  border-radius: 12px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 0, 6rem) ;
  &__inner {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    @media screen and (min-width: 1440px) {
      width: 80%;
    }
  }
  &__name {
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    .image {
      width: 3.333vw;
      height: 3.333vw;
      border-radius: 50%;
      @media screen and (min-width: 1440px) {
        width: 48px;
        height: 48px;
      }
    }
    .title {
      color: #000;
      font-family: 'DM Sans';
      font-size: 1.1vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media screen and (min-width: 1440px) {
        font-size: 20px;
      }
    }
    .text {
      color: #363639;
      font-family: 'DM Sans';
      font-size: 0.872vw;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media screen and (min-width: 1440px) {
        font-size: 14px;
      }
    }
  }

  &__bid {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .text {
      color: #3A3A3A;
      font-family: 'DM Sans';
      font-size: 0.833vw;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      @media screen and (min-width: 1440px) {
        font-size: 12px;
      }
    }
    span {
      display: flex;
      gap: 10px;
    }
    .icon {
      width: 0.803vw;
      height: 1.279vw;
      flex-shrink: 0;
      @media screen and (min-width: 1440px) {
        width: 13px;
        height: 21.333px;
      }
    }
    .bid {
      color: #3A3A3A;
      font-family: 'DM Sans';
      font-size: 1vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media screen and (min-width: 1440px) {
        font-size: 16px;
      }
    }
  }
}
.fade-out {
  opacity: 0;
  transition: opacity 200ms ease;
}
// ======================== content =====================================
.content {
  height: 32vw;
  overflow: hidden;
  @media screen and (min-width: 1440px) {
    height: 540px;
  }
  &__list {
    
    
    display: flex;
    flex-direction: column;
    // gap: 1.847vw;
    align-items: center;
    @media screen and (min-width: 1440px) {
      // gap: 41px;
    }
  }
  &__item {
    display: block;
    height: 150px;
  }
  &__wrapper {
    display: flex;
    gap: 20px;
    width: max-content;
  }

  picture {
    display: block;
    width: 9vw;
    height: 9vw;
    border-radius: 12px;
    overflow: hidden;
    @media screen and (min-width: 1440px) {
      width: 147px;
      height: 147px;
    }
    img {
      height: 100%;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (min-width: 1440px) {
      align-items: flex-start;
    }
    .title {
      color: #000;
      font-family: 'DM Sans';
      font-size: 1.389vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media screen and (min-width: 1440px) {
        font-size: 20px;
      }
    }
    span {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .image {
      width: 2.361vw;
      height: 2.361vw;
      border-radius: 50%;
      @media screen and (min-width: 1440px) {
        width: 34px;
        height: 34px;
      }
    }
    .bit-wrapper {
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      border-radius: 6px;
      border: 1px solid #00AC4F;
    }
    .icon {
      display: inline-block;
      width: 0.590vw;
      height: 0.972vw;
      @media screen and (min-width: 1440px) {
        width: 8.531px;
        height: 14px;
      }
    }
    .bit {
      color: #00AC4F;
      font-family: 'DM Sans';
      font-size: 0.833vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media screen and (min-width: 1440px) {
        font-size: 12px;
      }
    }
    .number {
      color: #757575;
      font-family: 'DM Sans';
      font-size: 0.972vw;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media screen and (min-width: 1440px) {
        font-size: 14px;
      }
    }
    .button {
      padding: 0.7vw 1.2vw;
      font-size: 1.2vw;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media screen and (min-width: 1440px) {
        padding: 14px 20px;
        font-size: 14px;
      }
    }
  }
}

// ================================= TOP =================================
.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__title {
    color: #000;
    font-family: 'Archivo Black';
    font-size: 1.389vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media screen and (min-width: 1440px) {
      font-size: 20px;
    }
  }
  &__text {
    color: #3D00B7;
    font-family: 'DM Sans';
    font-size: 1.250vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media screen and (min-width: 1440px) {
      font-size: 18px;
    }
  }
  &__list {
    margin-top: 0.5vw;
    display: flex;
    flex-direction: column;
    list-style: none;
    counter-reset: my-counter;
    padding: 0;
    @media screen and (min-width: 1440px) {
      margin-top: 15px;
    }
  }
  &__item {
    counter-increment: my-counter;
    position: relative;
    padding-left: 2.083vw;

    opacity: 0;
    transform: translateY(70px);
    &:nth-child(1) {
      transition: opacity 500ms ease, transform 500ms ease;
    }
    &:nth-child(2) {
      transition: opacity 1000ms ease, transform 1000ms ease;
    }
    &:nth-child(3) {
      transition: opacity 1500ms ease, transform 1500ms ease;
    }
    &:nth-child(4) {
      transition: opacity 2000ms ease, transform 2000ms ease;
    }
    &:nth-child(5) {
      transition: opacity 2500ms ease, transform 2500ms ease;
    }
    @media screen and (min-width: 1440px) {
      padding-left: 30px;
    }
    &.show {
      opacity: 1;
      transform: translateY(0);
    }
    &::before {
      content: counter(my-counter) "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      color: #000;
      font-family: 'DM Sans';
      font-size: 1.667vw;
      font-style: normal;
      font-weight: 700;
      line-height: 103%;
      @media screen and (min-width: 1440px) {
        font-size: 24px;
      }
    }
    .wrapper {
      padding-top: 1.111vw;
      padding-bottom: 1.111vw;
      display: flex;
      gap: 1.736vw;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #F0F0F0;
      @media screen and (min-width: 1440px) {
        padding-top: 16px;
        padding-bottom: 16px;
        gap: 25px;
      }
    }
    .inner {
      position: relative;
      .icon {
        position: absolute;
        top: 0px;
        right: -0.9vw;
        width: 1.8vw;
        height: 1.8vw;
        flex-shrink: 0;
        @media screen and (min-width: 1440px) {
          right: -16px;
          width: 32px;
          height: 32px;
        }
      }
    }
    .image {
      display: block;
      width: 3.5vw;
      height: 3.5vw;
      flex-shrink: 0;
      border-radius: 60px;
      @media screen and (min-width: 1440px) {
        width: 60px;
        height: 60px;
      }
    }
    
    span {
      display: flex;
      flex-direction: column;
      gap: 0.694vw;
      @media screen and (min-width: 1440px) {
        gap: 10px;
      }
    }
    .name {
      color: #000;
      font-family: 'DM Sans';
      font-size: 1.111vw;
      font-style: normal;
      font-weight: 900;
      line-height: 103%;
      @media screen and (min-width: 1440px) {
        font-size: 16px;
      }
      
    }
    .number {
      display: flex;
      align-items: center;
      gap: 6px;
      color: #636363;
      font-family: 'Poppins';
      font-size: 0.972vw;
      font-style: normal;
      font-weight: 600;
      line-height: 103%;
      /* 14.42px */
      letter-spacing: -0.35px;
      @media screen and (min-width: 1440px) {
        font-size: 14px;
      }
    }
    .icon {
      width: 1.042vw;
      height: 1.667vw;
   
      @media screen and (min-width: 1440px) {
        width: 15px;
        height: 24px;
      }
    }
    .percent {
      color: #14C8B0;
      text-align: right;
      font-family: 'Poppins';
      font-size: 1.389vw;
      font-style: normal;
      font-weight: 600;
      line-height: 103%;
      /* 20.6px */
      letter-spacing: -0.5px;
      @media screen and (min-width: 1440px) {
        font-size: 20px;
      }
      &--low {
        color: #FF002E;
      }
    }
  }
}