.top-collection {

  &__wrapper {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
// ========================== selected-content ===============================
.selected-content {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 32px;
  .image {
    display: block;
    width: 400px;
    height: 424px;
    border-radius: 24px;
  }
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__name {
    display: flex;
    align-items: center;
    gap: 10px;
    .image {
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }
    .title {
      color: #000;
      font-family: 'DM Sans';
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .text {
      color: #363639;
      font-family: 'DM Sans';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__bid {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .text {
      color: #3A3A3A;
      font-family: 'DM Sans';
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    span {
      display: flex;
      gap: 10px;
    }
    .icon {
      width: 13px;
      height: 21.333px;
      flex-shrink: 0;
    }
    .bid {
      color: #3A3A3A;
      font-family: 'DM Sans';
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
.fade-out {
  opacity: 0;
  transition: opacity 200ms ease;
}
// ======================== content =====================================

.content {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 41px;
    align-items: center;
  }
  &__item {
    display: flex;
    gap: 20px;
  }
  &__image {
    display: block;
    width: 147px;
    height: 147px;
    border-radius: 12px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
      color: #000;
      font-family: 'DM Sans';
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    span {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .image {
      width: 34px;
      height: 34px;
      border-radius: 50%;
    }
    .bit-wrapper {
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      border-radius: 6px;
      border: 1px solid #00AC4F;
    }
    .icon {
      display: inline-block;
      width: 8.531px;
      height: 14px;
    }
    .bit {
      color: #00AC4F;
      font-family: 'DM Sans';
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .number {
      color: #757575;
      font-family: 'DM Sans';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .button {
      padding: 14px 20px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

// ================================= TOP =================================
.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__title {
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__text {
    color: #3D00B7;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__list {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    list-style: none;
    counter-reset: my-counter;
    padding: 0;
  }
  &__item {
    counter-increment: my-counter;
    position: relative;
    padding-left: 30px;
    &::before {
      content: counter(my-counter) "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      color: #000;
      font-family: 'DM Sans';
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 103%;
      /* 24.72px */
      letter-spacing: -0.6px;
    }
    .wrapper {
      padding-top: 16px;
      padding-bottom: 16px;
      display: flex;
      gap: 25px;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #F0F0F0;
    }
    .inner {
      position: relative;
      .icon {
        position: absolute;
        top: 0px;
        right: -16px;
        width: 32px;
        height: 32px;
        flex-shrink: 0;
      }
    }
    .image {
      display: block;
      width: 60px;
      height: 60px;
      flex-shrink: 0;
      border-radius: 60px;
    }
    
    span {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .name {
      color: #000;
      font-family: 'DM Sans';
      font-size: 16px;
      font-style: normal;
      font-weight: 900;
      line-height: 103%;
      /* 16.48px */
      letter-spacing: -0.4px;
    }
    .number {
      display: flex;
      align-items: center;
      gap: 6px;
      color: #636363;
      font-family: 'Poppins';
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 103%;
      /* 14.42px */
      letter-spacing: -0.35px;
    }
    .icon {
      width: 15px;
      height: 24px;
      flex-shrink: 0;
    }
    .percent {
      color: #14C8B0;
      text-align: right;
      font-family: 'Poppins';
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 103%;
      /* 20.6px */
      letter-spacing: -0.5px;
      &--low {
        color: #FF002E;
      }
    }
  }
}